@import 'cfg';
@import '../helpers/mixins';

@include min(681) {
  @for $i from 1 through $max_grid {
    .sm-grid#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
    .sm-gap#{$i} {
      grid-gap: nth($grid-margins, $i);
    }
    .sm-start#{$i} {
      grid-column-start: $i;
    }
    .sm-end#{$i} {
      grid-column-end: $i;
    }
  }
  .sm-col-12, .sm-row {
    width: grid(1, 1);
  }
  .sm-col-11 {
    width: grid(11, 12);
  }
  .sm-col-10 {
    width: grid(10, 12);
  }
  .sm-col-9 {
    width: grid(9, 12);
  }
  .sm-col-8 {
    width: grid(8, 12);
  }
  .sm-col-7 {
    width: grid(7, 12);
  }
  .sm-col-6 {
    width: grid(6, 12);
  }
  .sm-col-5 {
    width: grid(5, 12);
  }
  .sm-col-4 {
    width: calc(100% / 3);
  }
  .sm-col-3 {
    width: grid(3, 12)
  }
  .sm-col-2 {
    width: grid(2, 12);
  }
  .sm-col-1 {
    width: grid(1, 12);
  }
  .sm-flex {
    display: flex;
  }
  .sm-order1 {
    order: 1;
  }
  .sm-order2 {
    order: 2;
  }
  .sm-order3 {
    order: 3;
  }
  .sm-order4 {
    order: 4;
  }
  .sm-order5 {
    order: 5;
  }
  .sm-flex-wrap {
    flex-wrap: wrap;
  }
  .sm-nowrap {
    flex-wrap: nowrap;
  }
  .sm-dir-row {
    flex-direction: row;
  }
  .sm-dir-row-rev {
    flex-direction: row-reverse;
  }
  .sm-dir-col {
    flex-direction: column;
  }
  .sm-dir-col-rev {
    flex-direction: column-reverse;
  }
  .sm-align-center {
    align-items: center;
  }
  .sm-align-start {
    align-items: flex-start
  }
  .sm-align-end {
    align-items: flex-end
  }
  .sm-align-stretch {
    align-items: stretch;
  }
  .sm-justify-start {
    justify-content: flex-start;
  }
  .sm-justify-end {
    justify-content: flex-end;
  }
  .sm-justify-center {
    justify-content: center;
  }
  .sm-justify-between {
    justify-content: space-between;
  }
  .sm-justify-around {
    justify-content: space-around;
  }
  .sm-content-start {
    align-content: flex-start;
  }
  .sm-content-end {
    align-content: flex-end;
  }
  .sm-content-center {
    align-content: center;
  }
  .sm-content-stretch {
    align-content: stretch;
  }
  .sm-content-between {
    align-content: space-between;
  }
  .sm-content-around {
    align-content: space-around;
  }
  .sm-fw300, .sm-lig {
    font-weight: 300
  }

  .sm-fw400, .sm-reg {
    font-weight: 400
  }

  .sm-bold, .sm-fw700 {
    font-weight: 700
  }

  .sm-fw800, .sm-xbold {
    font-weight: 800
  }

  .sm-oblique {
    font-style: oblique
  }

  .sm-italic {
    font-style: italic
  }

  .sm-normal {
    font-style: normal
  }

  .sm-up {
    text-transform: uppercase
  }

  .sm-low {
    text-transform: lowercase
  }

  .sm-cap {
    text-transform: capitalize
  }

  .sm-no-bg {
    background: none
  }

  .sm-w-auto {
    width: auto
  }

  .sm-z-1 {
    z-index: -1
  }

  .sm-z0 {
    z-index: 0
  }

  .sm-z1 {
    z-index: 1
  }

  .sm-z100 {
    z-index: 100
  }

  .sm-z200 {
    z-index: 200
  }

  .sm-z300 {
    z-index: 300
  }

  .sm-z400 {
    z-index: 400
  }
  .sm-z500 {
    z-index: 500
  }
  .sm-z600 {
    z-index: 600
  }
  .sm-z700 {
    z-index: 700
  }
  .sm-z800 {
    z-index: 800
  }
  .sm-z900 {
    z-index: 900
  }
  .sm-z999 {
    z-index: 999
  }
  .sm-z1000 {
    z-index: 1000
  }
  .sm-cur-pointer {
    cursor: pointer
  }
  .sm-no-cur {
    cursor: not-allowed
  }
  .sm-cur-grab {
    cursor: grab
  }
  .sm-o-auto {
    overflow: auto
  }
  .sm-hidden {
    visibility: hidden
  }
  .sm-visible {
    visibility: visible
  }
  .sm-o-hidden {
    overflow: hidden
  }
  .sm-o-visible {
    overflow: visible
  }
  .sm-bl {
    display: block
  }
  .sm-inl {
    display: inline
  }
  .sm-inbl {
    display: inline-block
  }
  .sm-hide, .sm-ukryj {
    display: none
  }
  .sm-pokaz, .sm-show {
    display: block
  }
  .sm-hide-i, .sm-ukryj-i {
    display: none !important
  }
  .sm-pokaz-i, .sm-show-i {
    display: block !important
  }
  .sm-opa0 {
    opacity: 0
  }
  .sm-opa1 {
    opacity: 1
  }
  .sm-h0 {
    height: 0
  }
  .sm-h100 {
    height: 100%;
  }
  .sm-vh100 {
    height: 100vh
  }
  .sm-mvh100 {
    min-height: 100vh
  }
  .sm-mh100 {
    min-height: 100%
  }
  .sm-h-auto {
    height: auto
  }
  .sm-rel {
    position: relative
  }
  .sm-abs {
    position: absolute
  }
  .sm-fix {
    position: fixed
  }
  .sm-static {
    position: static
  }
  .sm-auto {
    margin: auto
  }

  .sm-bottom0 {
    bottom: 0
  }
  .sm-bottom10 {
    bottom: 10px
  }
  .sm-bottom15 {
    bottom: 15px
  }
  .sm-bottom20 {
    bottom: 20px
  }

  .sm-bottom25 {
    bottom: 25px
  }

  .sm-bottom30 {
    bottom: 30px
  }

  .sm-bottom35 {
    bottom: 35px
  }

  .sm-bottom40 {
    bottom: 40px
  }

  .sm-bottom45 {
    bottom: 45px
  }

  .sm-bottom50 {
    bottom: 50px
  }

  .sm-bottom55 {
    bottom: 55px
  }

  .sm-bottom60 {
    bottom: 60px
  }

  .sm-bottom70 {
    bottom: 70px
  }

  .sm-bottom80 {
    bottom: 80px
  }

  .sm-bottom90 {
    bottom: 90px
  }

  .sm-bottom100 {
    bottom: 100px
  }

  .sm-bottom-10 {
    bottom: -10px
  }

  .sm-bottom-15 {
    bottom: -15px
  }

  .sm-bottom-20 {
    bottom: -20px
  }

  .sm-bottom-25 {
    bottom: -25px
  }

  .sm-bottom-30 {
    bottom: -30px
  }

  .sm-bottom-35 {
    bottom: -35px
  }

  .sm-bottom-40 {
    bottom: -40px
  }

  .sm-bottom-45 {
    bottom: -45px
  }

  .sm-bottom-50 {
    bottom: -50px
  }

  .sm-bottom-55 {
    bottom: -55px
  }

  .sm-bottom-60 {
    bottom: -60px
  }

  .sm-bottom-70 {
    bottom: -70px
  }

  .sm-bottom-80 {
    bottom: -80px
  }

  .sm-bottom-90 {
    bottom: -90px
  }

  .sm-bottom-100 {
    bottom: -100px
  }

  .sm-left0 {
    left: 0
  }

  .sm-left10 {
    left: 10px
  }

  .sm-left15 {
    left: 15px
  }

  .sm-left20 {
    left: 20px
  }

  .sm-left25 {
    left: 25px
  }

  .sm-left30 {
    left: 30px
  }

  .sm-left35 {
    left: 35px
  }

  .sm-left40 {
    left: 40px
  }

  .sm-left45 {
    left: 45px
  }

  .sm-left50 {
    left: 50px
  }

  .sm-left55 {
    left: 55px
  }

  .sm-left60 {
    left: 60px
  }

  .sm-left70 {
    left: 70px
  }

  .sm-left80 {
    left: 80px
  }

  .sm-left90 {
    left: 90px
  }

  .sm-left100 {
    left: 100px
  }

  .sm-left-10 {
    left: -10px
  }

  .sm-left-15 {
    left: -15px
  }

  .sm-left-20 {
    left: -20px
  }

  .sm-left-25 {
    left: -25px
  }

  .sm-left-30 {
    left: -30px
  }

  .sm-left-35 {
    left: -35px
  }

  .sm-left-40 {
    left: -40px
  }

  .sm-left-45 {
    left: -45px
  }

  .sm-left-50 {
    left: -50px
  }

  .sm-left-55 {
    left: -55px
  }

  .sm-left-60 {
    left: -60px
  }

  .sm-left-70 {
    left: -70px
  }

  .sm-left-80 {
    left: -80px
  }

  .sm-left-90 {
    left: -90px
  }

  .sm-left-100 {
    left: -100px
  }

  .sm-right0 {
    right: 0
  }

  .sm-right10 {
    right: 10px
  }

  .sm-right15 {
    right: 15px
  }

  .sm-right20 {
    right: 20px
  }

  .sm-right25 {
    right: 25px
  }

  .sm-right30 {
    right: 30px
  }

  .sm-right35 {
    right: 35px
  }

  .sm-right40 {
    right: 40px
  }

  .sm-right45 {
    right: 45px
  }

  .sm-right50 {
    right: 50px
  }

  .sm-right55 {
    right: 55px
  }

  .sm-right60 {
    right: 60px
  }

  .sm-right70 {
    right: 70px
  }

  .sm-right80 {
    right: 80px
  }

  .sm-right90 {
    right: 90px
  }

  .sm-right100 {
    right: 100px
  }

  .sm-right-10 {
    right: -10px
  }

  .sm-right-15 {
    right: -15px
  }

  .sm-right-20 {
    right: -20px
  }

  .sm-right-25 {
    right: -25px
  }

  .sm-right-30 {
    right: -30px
  }

  .sm-right-35 {
    right: -35px
  }

  .sm-right-40 {
    right: -40px
  }

  .sm-right-45 {
    right: -45px
  }

  .sm-right-50 {
    right: -50px
  }

  .sm-right-55 {
    right: -55px
  }

  .sm-right-60 {
    right: -60px
  }

  .sm-right-70 {
    right: -70px
  }

  .sm-right-80 {
    right: -80px
  }

  .sm-right-90 {
    right: -90px
  }

  .sm-right-100 {
    right: -100px
  }

  .sm-top0 {
    top: 0
  }

  .sm-top10 {
    top: 10px
  }

  .sm-top15 {
    top: 15px
  }

  .sm-top20 {
    top: 20px
  }

  .sm-top25 {
    top: 25px
  }

  .sm-top30 {
    top: 30px
  }

  .sm-top35 {
    top: 35px
  }

  .sm-top40 {
    top: 40px
  }

  .sm-top45 {
    top: 45px
  }

  .sm-top50 {
    top: 50px
  }

  .sm-top55 {
    top: 55px
  }

  .sm-top60 {
    top: 60px
  }

  .sm-top70 {
    top: 70px
  }

  .sm-top80 {
    top: 80px
  }

  .sm-top90 {
    top: 90px
  }

  .sm-top100 {
    top: 100px
  }

  .sm-top-10 {
    top: -10px
  }

  .sm-top-15 {
    top: -15px
  }

  .sm-top-20 {
    top: -20px
  }

  .sm-top-25 {
    top: -25px
  }

  .sm-top-30 {
    top: -30px
  }

  .sm-top-35 {
    top: -35px
  }

  .sm-top-40 {
    top: -40px
  }

  .sm-top-45 {
    top: -45px
  }

  .sm-top-50 {
    top: -50px
  }

  .sm-top-55 {
    top: -55px
  }

  .sm-top-60 {
    top: -60px
  }

  .sm-top-70 {
    top: -70px
  }

  .sm-top-80 {
    top: -80px
  }

  .sm-top-90 {
    top: -90px
  }

  .sm-top-100 {
    top: -100px
  }

  .sm-top-auto {
    top: auto
  }

  .sm-bottom-auto {
    bottom: auto
  }

  .sm-left-auto {
    left: auto
  }

  .sm-right-auto {
    right: auto
  }

  .sm-txt-center {
    text-align: center
  }

  .sm-txt-left {
    text-align: left
  }

  .sm-txt-right {
    text-align: right
  }

  .sm-txt-justify {
    text-align: justify
  }

  .sm-mb-10 {
    margin-bottom: -10px
  }

  .sm-mb-15 {
    margin-bottom: -15px
  }

  .sm-mb-20 {
    margin-bottom: -20px
  }

  .sm-mb-25 {
    margin-bottom: -25px
  }

  .sm-mb-30 {
    margin-bottom: -30px
  }

  .sm-mb-35 {
    margin-bottom: -35px
  }

  .sm-mb-40 {
    margin-bottom: -40px
  }

  .sm-mb-45 {
    margin-bottom: -45px
  }

  .sm-mb-50 {
    margin-bottom: -50px
  }

  .sm-mb-55 {
    margin-bottom: -55px
  }

  .sm-mb-60 {
    margin-bottom: -60px
  }

  .sm-mb-70 {
    margin-bottom: -70px
  }

  .sm-mb-80 {
    margin-bottom: -80px
  }

  .sm-mb-90 {
    margin-bottom: -90px
  }

  .sm-mb-100 {
    margin-bottom: -100px
  }

  .sm-mb1 {
    margin-bottom: 1px
  }

  .sm-mb2 {
    margin-bottom: 2px
  }

  .sm-mb3 {
    margin-bottom: 3px
  }

  .sm-mb4 {
    margin-bottom: 4px
  }

  .sm-mb5 {
    margin-bottom: 5px
  }

  .sm-mb6 {
    margin-bottom: 6px
  }

  .sm-mb7 {
    margin-bottom: 7px
  }

  .sm-mb8 {
    margin-bottom: 8px
  }

  .sm-mb9 {
    margin-bottom: 9px
  }

  .sm-mb10 {
    margin-bottom: 10px
  }

  .sm-mb15 {
    margin-bottom: 15px
  }

  .sm-mb20 {
    margin-bottom: 20px
  }

  .sm-mb25 {
    margin-bottom: 25px
  }

  .sm-mb30 {
    margin-bottom: 30px
  }

  .sm-mb35 {
    margin-bottom: 35px
  }

  .sm-mb40 {
    margin-bottom: 40px
  }

  .sm-mb45 {
    margin-bottom: 45px
  }

  .sm-mb50 {
    margin-bottom: 50px
  }

  .sm-mb55 {
    margin-bottom: 55px
  }

  .sm-mb60 {
    margin-bottom: 60px
  }

  .sm-mb70 {
    margin-bottom: 70px
  }

  .sm-mb80 {
    margin-bottom: 80px
  }

  .sm-mb90 {
    margin-bottom: 90px
  }

  .sm-mb100 {
    margin-bottom: 100px
  }

  .sm-mt-10 {
    margin-top: -10px
  }

  .sm-mt-15 {
    margin-top: -15px
  }

  .sm-mt-20 {
    margin-top: -20px
  }

  .sm-mt-25 {
    margin-top: -25px
  }

  .sm-mt-30 {
    margin-top: -30px
  }

  .sm-mt-35 {
    margin-top: -35px
  }

  .sm-mt-40 {
    margin-top: -40px
  }

  .sm-mt-45 {
    margin-top: -45px
  }

  .sm-mt-50 {
    margin-top: -50px
  }

  .sm-mt-55 {
    margin-top: -55px
  }

  .sm-mt-60 {
    margin-top: -60px
  }

  .sm-mt-70 {
    margin-top: -70px
  }

  .sm-mt-80 {
    margin-top: -80px
  }

  .sm-mt-90 {
    margin-top: -90px
  }

  .sm-mt-100 {
    margin-top: -100px
  }
  .sm-mt10 {
    margin-top: 10px
  }

  .sm-mt15 {
    margin-top: 15px
  }

  .sm-mt20 {
    margin-top: 20px
  }

  .sm-mt25 {
    margin-top: 25px
  }

  .sm-mt30 {
    margin-top: 30px
  }

  .sm-mt35 {
    margin-top: 35px
  }

  .sm-mt40 {
    margin-top: 40px
  }

  .sm-mt45 {
    margin-top: 45px
  }

  .sm-mt50 {
    margin-top: 50px
  }

  .sm-mt55 {
    margin-top: 55px
  }

  .sm-mt60 {
    margin-top: 60px
  }

  .sm-mt70 {
    margin-top: 70px
  }

  .sm-mt80 {
    margin-top: 80px
  }

  .sm-mt90 {
    margin-top: 90px
  }
  .sm-mt100 {
    margin-top: 100px
  }
  .sm-ml-10 {
    margin-left: -10px
  }
  .sm-ml-15 {
    margin-left: -15px
  }
  .sm-ml-20 {
    margin-left: -20px
  }
  .sm-ml-25 {
    margin-left: -25px
  }
  .sm-ml-30 {
    margin-left: -30px
  }
  .sm-ml-35 {
    margin-left: -35px
  }
  .sm-ml-40 {
    margin-left: -40px
  }
  .sm-ml-45 {
    margin-left: -45px
  }
  .sm-ml-50 {
    margin-left: -50px
  }
  .sm-ml-55 {
    margin-left: -55px
  }
  .sm-ml-60 {
    margin-left: -60px
  }
  .sm-ml-70 {
    margin-left: -70px
  }
  .sm-ml-80 {
    margin-left: -80px
  }
  .sm-ml-90 {
    margin-left: -90px
  }
  .sm-ml-100 {
    margin-left: -100px
  }
  .sm-ml10 {
    margin-left: 10px
  }
  .sm-ml15 {
    margin-left: 15px
  }
  .sm-ml20 {
    margin-left: 20px
  }
  .sm-ml25 {
    margin-left: 25px
  }
  .sm-ml30 {
    margin-left: 30px
  }
  .sm-ml35 {
    margin-left: 35px
  }
  .sm-ml40 {
    margin-left: 40px
  }
  .sm-ml45 {
    margin-left: 45px
  }
  .sm-ml50 {
    margin-left: 50px
  }
  .sm-ml55 {
    margin-left: 55px
  }
  .sm-ml60 {
    margin-left: 60px
  }
  .sm-ml70 {
    margin-left: 70px
  }
  .sm-ml80 {
    margin-left: 80px
  }
  .sm-ml90 {
    margin-left: 90px
  }
  .sm-ml100 {
    margin-left: 100px
  }
  .sm-mr-10 {
    margin-right: -10px
  }
  .sm-mr-15 {
    margin-right: -15px
  }
  .sm-mr-20 {
    margin-right: -20px
  }
  .sm-mr-25 {
    margin-right: -25px
  }
  .sm-mr-30 {
    margin-right: -30px
  }
  .sm-mr-35 {
    margin-right: -35px
  }
  .sm-mr-40 {
    margin-right: -40px
  }
  .sm-mr-45 {
    margin-right: -45px
  }
  .sm-mr-50 {
    margin-right: -50px
  }
  .sm-mr-55 {
    margin-right: -55px
  }
  .sm-mr-60 {
    margin-right: -60px
  }
  .sm-mr-70 {
    margin-right: -70px
  }
  .sm-mr-80 {
    margin-right: -80px
  }
  .sm-mr-90 {
    margin-right: -90px
  }
  .sm-mr-100 {
    margin-right: -100px
  }
  .sm-mr10 {
    margin-right: 10px
  }
  .sm-mr15 {
    margin-right: 15px
  }
  .sm-mr20 {
    margin-right: 20px
  }
  .sm-mr25 {
    margin-right: 25px
  }
  .sm-mr30 {
    margin-right: 30px
  }
  .sm-mr35 {
    margin-right: 35px
  }
  .sm-mr40 {
    margin-right: 40px
  }
  .sm-mr45 {
    margin-right: 45px
  }
  .sm-mr50 {
    margin-right: 50px
  }
  .sm-mr55 {
    margin-right: 55px
  }
  .sm-mr60 {
    margin-right: 60px
  }
  .sm-mr70 {
    margin-right: 70px
  }
  .sm-mr80 {
    margin-right: 80px
  }
  .sm-mr90 {
    margin-right: 90px
  }
  .sm-mr100 {
    margin-right: 100px
  }
  .sm-m0 {
    margin: 0
  }
  .sm-ml0 {
    margin-left: 0
  }
  .sm-mr0 {
    margin-right: 0
  }
  .sm-mt0 {
    margin-top: 0
  }
  .sm-mb0 {
    margin-bottom: 0
  }
  .sm-padt10 {
    padding-top: 10px
  }
  .sm-padt15 {
    padding-top: 15px
  }
  .sm-padt20 {
    padding-top: 20px
  }
  .sm-padt25 {
    padding-top: 25px
  }
  .sm-padt30 {
    padding-top: 30px
  }
  .sm-padt35 {
    padding-top: 35px
  }
  .sm-padt40 {
    padding-top: 40px
  }
  .sm-padt45 {
    padding-top: 45px
  }
  .sm-padt50 {
    padding-top: 50px
  }
  .sm-padt60 {
    padding-top: 60px
  }
  .sm-padt70 {
    padding-top: 70px
  }
  .sm-padt80 {
    padding-top: 80px
  }
  .sm-padt90 {
    padding-top: 90px
  }
  .sm-padt100 {
    padding-top: 100px
  }
  .sm-padb10 {
    padding-bottom: 10px
  }
  .sm-padb15 {
    padding-bottom: 15px
  }
  .sm-padb20 {
    padding-bottom: 20px
  }
  .sm-padb25 {
    padding-bottom: 25px
  }
  .sm-padb30 {
    padding-bottom: 30px
  }
  .sm-padb35 {
    padding-bottom: 35px
  }
  .sm-padb40 {
    padding-bottom: 40px
  }
  .sm-padb45 {
    padding-bottom: 45px
  }
  .sm-padb50 {
    padding-bottom: 50px
  }
  .sm-padb60 {
    padding-bottom: 60px
  }
  .sm-padb70 {
    padding-bottom: 70px
  }
  .sm-padb80 {
    padding-bottom: 80px
  }
  .sm-padb90 {
    padding-bottom: 90px
  }
  .sm-padb100 {
    padding-bottom: 100px
  }
  .sm-padl10 {
    padding-left: 10px
  }
  .sm-padl15 {
    padding-left: 15px
  }
  .sm-padl20 {
    padding-left: 20px
  }
  .sm-padl25 {
    padding-left: 25px
  }
  .sm-padl30 {
    padding-left: 30px
  }
  .sm-padl35 {
    padding-left: 35px
  }
  .sm-padl40 {
    padding-left: 40px
  }
  .sm-padl45 {
    padding-left: 45px
  }
  .sm-padl50 {
    padding-left: 50px
  }
  .sm-padl60 {
    padding-left: 60px
  }
  .sm-padl70 {
    padding-left: 70px
  }
  .sm-padl80 {
    padding-left: 80px
  }
  .sm-padl90 {
    padding-left: 90px
  }
  .sm-padl100 {
    padding-left: 100px
  }
  .sm-padr10 {
    padding-right: 10px
  }
  .sm-padr15 {
    padding-right: 15px
  }
  .sm-padr20 {
    padding-right: 20px
  }
  .sm-padr25 {
    padding-right: 25px
  }
  .sm-padr30 {
    padding-right: 30px
  }
  .sm-padr35 {
    padding-right: 35px
  }
  .sm-padr40 {
    padding-right: 40px
  }
  .sm-padr45 {
    padding-right: 45px
  }
  .sm-padr50 {
    padding-right: 50px
  }
  .sm-padr60 {
    padding-right: 60px
  }
  .sm-padr70 {
    padding-right: 70px
  }
  .sm-padr80 {
    padding-right: 80px
  }
  .sm-padr90 {
    padding-right: 90px
  }
  .sm-padr100 {
    padding-right: 100px
  }
  .sm-padl0 {
    padding-left: 0
  }
  .sm-padr0 {
    padding-right: 0
  }
  .sm-padt0 {
    padding-top: 0
  }
  .sm-padb0 {
    padding-bottom: 0
  }
}

@include min(1024) {
  @for $i from 1 through $max_grid {
    .md-grid#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
    .md-gap#{$i} {
      grid-gap: nth($grid-margins, $i);
    }
    .md-start#{$i} {
      grid-column-start: $i;
    }
    .md-end#{$i} {
      grid-column-end: $i;
    }
  }
  .md-col-12, .md-row {
    width: grid(1, 1);
  }
  .md-col-11 {
    width: grid(11, 12);
  }
  .md-col-10 {
    width: grid(10, 12);
  }
  .md-col-9 {
    width: grid(9, 12);
  }
  .md-col-8 {
    width: grid(8, 12);
  }
  .md-col-7 {
    width: grid(7, 12);
  }
  .md-col-6 {
    width: grid(6, 12);
  }
  .md-col-5 {
    width: grid(5, 12);
  }
  .md-col-4 {
    width: calc(100% / 3);
  }
  .md-col-3 {
    width: grid(3, 12)
  }
  .md-col-2 {
    width: grid(2, 12);
  }
  .md-col-1 {
    width: grid(1, 12);
  }
  .md-flex {
    display: flex;
  }
  .md-order1 {
    order: 1;
  }
  .md-order2 {
    order: 2;
  }
  .md-order3 {
    order: 3;
  }
  .md-order4 {
    order: 4;
  }
  .md-order5 {
    order: 5;
  }
  .md-flex-wrap {
    flex-wrap: wrap;
  }
  .md-nowrap {
    flex-wrap: nowrap;
  }
  .md-dir-row {
    flex-direction: row;
  }
  .md-dir-row-rev {
    flex-direction: row-reverse;
  }
  .md-dir-col {
    flex-direction: column;
  }
  .md-dir-col-rev {
    flex-direction: column-reverse;
  }
  .md-align-center {
    align-items: center;
  }
  .md-align-start {
    align-items: flex-start
  }
  .md-align-end {
    align-items: flex-end
  }
  .md-align-stretch {
    align-items: stretch;
  }
  .md-justify-start {
    justify-content: flex-start;
  }
  .md-justify-end {
    justify-content: flex-end;
  }
  .md-justify-center {
    justify-content: center;
  }
  .md-justify-between {
    justify-content: space-between;
  }
  .md-justify-around {
    justify-content: space-around;
  }
  .md-content-start {
    align-content: flex-start;
  }
  .md-content-end {
    align-content: flex-end;
  }
  .md-content-center {
    align-content: center;
  }
  .md-content-stretch {
    align-content: stretch;
  }
  .md-content-between {
    align-content: space-between;
  }
  .md-content-around {
    align-content: space-around;
  }
  .md-fw300, .md-lig {
    font-weight: 300
  }

  .md-fw400, .md-reg {
    font-weight: 400
  }

  .md-bold, .md-fw700 {
    font-weight: 700
  }

  .md-fw800, .md-xbold {
    font-weight: 800
  }

  .md-oblique {
    font-style: oblique
  }

  .md-italic {
    font-style: italic
  }

  .md-normal {
    font-style: normal
  }

  .md-up {
    text-transform: uppercase
  }

  .md-low {
    text-transform: lowercase
  }

  .md-cap {
    text-transform: capitalize
  }

  .md-no-bg {
    background: none
  }

  .md-w-auto {
    width: auto
  }

  .md-z-1 {
    z-index: -1
  }

  .md-z0 {
    z-index: 0
  }

  .md-z1 {
    z-index: 1
  }

  .md-z100 {
    z-index: 100
  }

  .md-z200 {
    z-index: 200
  }

  .md-z300 {
    z-index: 300
  }

  .md-z400 {
    z-index: 400
  }
  .md-z500 {
    z-index: 500
  }
  .md-z600 {
    z-index: 600
  }
  .md-z700 {
    z-index: 700
  }
  .md-z800 {
    z-index: 800
  }
  .md-z900 {
    z-index: 900
  }
  .md-z999 {
    z-index: 999
  }
  .md-z1000 {
    z-index: 1000
  }
  .md-cur-pointer {
    cursor: pointer
  }
  .md-no-cur {
    cursor: not-allowed
  }
  .md-cur-grab {
    cursor: grab
  }
  .md-o-auto {
    overflow: auto
  }
  .md-hidden {
    visibility: hidden
  }
  .md-visible {
    visibility: visible
  }
  .md-o-hidden {
    overflow: hidden
  }
  .md-o-visible {
    overflow: visible
  }
  .md-bl {
    display: block
  }
  .md-inl {
    display: inline
  }
  .md-inbl {
    display: inline-block
  }
  .md-hide, .md-ukryj {
    display: none
  }
  .md-pokaz, .md-show {
    display: block
  }
  .md-hide-i, .md-ukryj-i {
    display: none !important
  }
  .md-pokaz-i, .md-show-i {
    display: block !important
  }
  .md-opa0 {
    opacity: 0
  }
  .md-opa1 {
    opacity: 1
  }
  .md-h0 {
    height: 0
  }
  .md-h100 {
    height: 100%;
  }
  .md-vh100 {
    height: 100vh
  }
  .md-mvh100 {
    min-height: 100vh
  }
  .md-mh100 {
    min-height: 100%
  }
  .md-h-auto {
    height: auto
  }
  .md-rel {
    position: relative
  }
  .md-abs {
    position: absolute
  }
  .md-fix {
    position: fixed
  }
  .md-static {
    position: static
  }
  .md-auto {
    margin: auto
  }

  .md-bottom0 {
    bottom: 0
  }
  .md-bottom10 {
    bottom: 10px
  }
  .md-bottom15 {
    bottom: 15px
  }
  .md-bottom20 {
    bottom: 20px
  }

  .md-bottom25 {
    bottom: 25px
  }

  .md-bottom30 {
    bottom: 30px
  }

  .md-bottom35 {
    bottom: 35px
  }

  .md-bottom40 {
    bottom: 40px
  }

  .md-bottom45 {
    bottom: 45px
  }

  .md-bottom50 {
    bottom: 50px
  }

  .md-bottom55 {
    bottom: 55px
  }

  .md-bottom60 {
    bottom: 60px
  }

  .md-bottom70 {
    bottom: 70px
  }

  .md-bottom80 {
    bottom: 80px
  }

  .md-bottom90 {
    bottom: 90px
  }

  .md-bottom100 {
    bottom: 100px
  }

  .md-bottom-10 {
    bottom: -10px
  }

  .md-bottom-15 {
    bottom: -15px
  }

  .md-bottom-20 {
    bottom: -20px
  }

  .md-bottom-25 {
    bottom: -25px
  }

  .md-bottom-30 {
    bottom: -30px
  }

  .md-bottom-35 {
    bottom: -35px
  }

  .md-bottom-40 {
    bottom: -40px
  }

  .md-bottom-45 {
    bottom: -45px
  }

  .md-bottom-50 {
    bottom: -50px
  }

  .md-bottom-55 {
    bottom: -55px
  }

  .md-bottom-60 {
    bottom: -60px
  }

  .md-bottom-70 {
    bottom: -70px
  }

  .md-bottom-80 {
    bottom: -80px
  }

  .md-bottom-90 {
    bottom: -90px
  }

  .md-bottom-100 {
    bottom: -100px
  }

  .md-left0 {
    left: 0
  }

  .md-left10 {
    left: 10px
  }

  .md-left15 {
    left: 15px
  }

  .md-left20 {
    left: 20px
  }

  .md-left25 {
    left: 25px
  }

  .md-left30 {
    left: 30px
  }

  .md-left35 {
    left: 35px
  }

  .md-left40 {
    left: 40px
  }

  .md-left45 {
    left: 45px
  }

  .md-left50 {
    left: 50px
  }

  .md-left55 {
    left: 55px
  }

  .md-left60 {
    left: 60px
  }

  .md-left70 {
    left: 70px
  }

  .md-left80 {
    left: 80px
  }

  .md-left90 {
    left: 90px
  }

  .md-left100 {
    left: 100px
  }

  .md-left-10 {
    left: -10px
  }

  .md-left-15 {
    left: -15px
  }

  .md-left-20 {
    left: -20px
  }

  .md-left-25 {
    left: -25px
  }

  .md-left-30 {
    left: -30px
  }

  .md-left-35 {
    left: -35px
  }

  .md-left-40 {
    left: -40px
  }

  .md-left-45 {
    left: -45px
  }

  .md-left-50 {
    left: -50px
  }

  .md-left-55 {
    left: -55px
  }

  .md-left-60 {
    left: -60px
  }

  .md-left-70 {
    left: -70px
  }

  .md-left-80 {
    left: -80px
  }

  .md-left-90 {
    left: -90px
  }

  .md-left-100 {
    left: -100px
  }

  .md-right0 {
    right: 0
  }

  .md-right10 {
    right: 10px
  }

  .md-right15 {
    right: 15px
  }

  .md-right20 {
    right: 20px
  }

  .md-right25 {
    right: 25px
  }

  .md-right30 {
    right: 30px
  }

  .md-right35 {
    right: 35px
  }

  .md-right40 {
    right: 40px
  }

  .md-right45 {
    right: 45px
  }

  .md-right50 {
    right: 50px
  }

  .md-right55 {
    right: 55px
  }

  .md-right60 {
    right: 60px
  }

  .md-right70 {
    right: 70px
  }

  .md-right80 {
    right: 80px
  }

  .md-right90 {
    right: 90px
  }

  .md-right100 {
    right: 100px
  }

  .md-right-10 {
    right: -10px
  }

  .md-right-15 {
    right: -15px
  }

  .md-right-20 {
    right: -20px
  }

  .md-right-25 {
    right: -25px
  }

  .md-right-30 {
    right: -30px
  }

  .md-right-35 {
    right: -35px
  }

  .md-right-40 {
    right: -40px
  }

  .md-right-45 {
    right: -45px
  }

  .md-right-50 {
    right: -50px
  }

  .md-right-55 {
    right: -55px
  }

  .md-right-60 {
    right: -60px
  }

  .md-right-70 {
    right: -70px
  }

  .md-right-80 {
    right: -80px
  }

  .md-right-90 {
    right: -90px
  }

  .md-right-100 {
    right: -100px
  }

  .md-top0 {
    top: 0
  }

  .md-top10 {
    top: 10px
  }

  .md-top15 {
    top: 15px
  }

  .md-top20 {
    top: 20px
  }

  .md-top25 {
    top: 25px
  }

  .md-top30 {
    top: 30px
  }

  .md-top35 {
    top: 35px
  }

  .md-top40 {
    top: 40px
  }

  .md-top45 {
    top: 45px
  }

  .md-top50 {
    top: 50px
  }

  .md-top55 {
    top: 55px
  }

  .md-top60 {
    top: 60px
  }

  .md-top70 {
    top: 70px
  }

  .md-top80 {
    top: 80px
  }

  .md-top90 {
    top: 90px
  }

  .md-top100 {
    top: 100px
  }

  .md-top-10 {
    top: -10px
  }

  .md-top-15 {
    top: -15px
  }

  .md-top-20 {
    top: -20px
  }

  .md-top-25 {
    top: -25px
  }

  .md-top-30 {
    top: -30px
  }

  .md-top-35 {
    top: -35px
  }

  .md-top-40 {
    top: -40px
  }

  .md-top-45 {
    top: -45px
  }

  .md-top-50 {
    top: -50px
  }

  .md-top-55 {
    top: -55px
  }

  .md-top-60 {
    top: -60px
  }

  .md-top-70 {
    top: -70px
  }

  .md-top-80 {
    top: -80px
  }

  .md-top-90 {
    top: -90px
  }

  .md-top-100 {
    top: -100px
  }

  .md-top-auto {
    top: auto
  }

  .md-bottom-auto {
    bottom: auto
  }

  .md-left-auto {
    left: auto
  }

  .md-right-auto {
    right: auto
  }

  .md-txt-center {
    text-align: center
  }

  .md-txt-left {
    text-align: left
  }

  .md-txt-right {
    text-align: right
  }

  .md-txt-justify {
    text-align: justify
  }

  .md-mb-10 {
    margin-bottom: -10px
  }

  .md-mb-15 {
    margin-bottom: -15px
  }

  .md-mb-20 {
    margin-bottom: -20px
  }

  .md-mb-25 {
    margin-bottom: -25px
  }

  .md-mb-30 {
    margin-bottom: -30px
  }

  .md-mb-35 {
    margin-bottom: -35px
  }

  .md-mb-40 {
    margin-bottom: -40px
  }

  .md-mb-45 {
    margin-bottom: -45px
  }

  .md-mb-50 {
    margin-bottom: -50px
  }

  .md-mb-55 {
    margin-bottom: -55px
  }

  .md-mb-60 {
    margin-bottom: -60px
  }

  .md-mb-70 {
    margin-bottom: -70px
  }

  .md-mb-80 {
    margin-bottom: -80px
  }

  .md-mb-90 {
    margin-bottom: -90px
  }

  .md-mb-100 {
    margin-bottom: -100px
  }

  .md-mb1 {
    margin-bottom: 1px
  }

  .md-mb2 {
    margin-bottom: 2px
  }

  .md-mb3 {
    margin-bottom: 3px
  }

  .md-mb4 {
    margin-bottom: 4px
  }

  .md-mb5 {
    margin-bottom: 5px
  }

  .md-mb6 {
    margin-bottom: 6px
  }

  .md-mb7 {
    margin-bottom: 7px
  }

  .md-mb8 {
    margin-bottom: 8px
  }

  .md-mb9 {
    margin-bottom: 9px
  }

  .md-mb10 {
    margin-bottom: 10px
  }

  .md-mb15 {
    margin-bottom: 15px
  }

  .md-mb20 {
    margin-bottom: 20px
  }

  .md-mb25 {
    margin-bottom: 25px
  }

  .md-mb30 {
    margin-bottom: 30px
  }

  .md-mb35 {
    margin-bottom: 35px
  }

  .md-mb40 {
    margin-bottom: 40px
  }

  .md-mb45 {
    margin-bottom: 45px
  }

  .md-mb50 {
    margin-bottom: 50px
  }

  .md-mb55 {
    margin-bottom: 55px
  }

  .md-mb60 {
    margin-bottom: 60px
  }

  .md-mb70 {
    margin-bottom: 70px
  }

  .md-mb80 {
    margin-bottom: 80px
  }

  .md-mb90 {
    margin-bottom: 90px
  }

  .md-mb100 {
    margin-bottom: 100px
  }

  .md-mt-10 {
    margin-top: -10px
  }

  .md-mt-15 {
    margin-top: -15px
  }

  .md-mt-20 {
    margin-top: -20px
  }

  .md-mt-25 {
    margin-top: -25px
  }

  .md-mt-30 {
    margin-top: -30px
  }

  .md-mt-35 {
    margin-top: -35px
  }

  .md-mt-40 {
    margin-top: -40px
  }

  .md-mt-45 {
    margin-top: -45px
  }

  .md-mt-50 {
    margin-top: -50px
  }

  .md-mt-55 {
    margin-top: -55px
  }

  .md-mt-60 {
    margin-top: -60px
  }

  .md-mt-70 {
    margin-top: -70px
  }

  .md-mt-80 {
    margin-top: -80px
  }

  .md-mt-90 {
    margin-top: -90px
  }

  .md-mt-100 {
    margin-top: -100px
  }
  .md-mt10 {
    margin-top: 10px
  }

  .md-mt15 {
    margin-top: 15px
  }

  .md-mt20 {
    margin-top: 20px
  }

  .md-mt25 {
    margin-top: 25px
  }

  .md-mt30 {
    margin-top: 30px
  }

  .md-mt35 {
    margin-top: 35px
  }

  .md-mt40 {
    margin-top: 40px
  }

  .md-mt45 {
    margin-top: 45px
  }

  .md-mt50 {
    margin-top: 50px
  }

  .md-mt55 {
    margin-top: 55px
  }

  .md-mt60 {
    margin-top: 60px
  }

  .md-mt70 {
    margin-top: 70px
  }

  .md-mt80 {
    margin-top: 80px
  }

  .md-mt90 {
    margin-top: 90px
  }
  .md-mt100 {
    margin-top: 100px
  }
  .md-ml-10 {
    margin-left: -10px
  }
  .md-ml-15 {
    margin-left: -15px
  }
  .md-ml-20 {
    margin-left: -20px
  }
  .md-ml-25 {
    margin-left: -25px
  }
  .md-ml-30 {
    margin-left: -30px
  }
  .md-ml-35 {
    margin-left: -35px
  }
  .md-ml-40 {
    margin-left: -40px
  }
  .md-ml-45 {
    margin-left: -45px
  }
  .md-ml-50 {
    margin-left: -50px
  }
  .md-ml-55 {
    margin-left: -55px
  }
  .md-ml-60 {
    margin-left: -60px
  }
  .md-ml-70 {
    margin-left: -70px
  }
  .md-ml-80 {
    margin-left: -80px
  }
  .md-ml-90 {
    margin-left: -90px
  }
  .md-ml-100 {
    margin-left: -100px
  }
  .md-ml10 {
    margin-left: 10px
  }
  .md-ml15 {
    margin-left: 15px
  }
  .md-ml20 {
    margin-left: 20px
  }
  .md-ml25 {
    margin-left: 25px
  }
  .md-ml30 {
    margin-left: 30px
  }
  .md-ml35 {
    margin-left: 35px
  }
  .md-ml40 {
    margin-left: 40px
  }
  .md-ml45 {
    margin-left: 45px
  }
  .md-ml50 {
    margin-left: 50px
  }
  .md-ml55 {
    margin-left: 55px
  }
  .md-ml60 {
    margin-left: 60px
  }
  .md-ml70 {
    margin-left: 70px
  }
  .md-ml80 {
    margin-left: 80px
  }
  .md-ml90 {
    margin-left: 90px
  }
  .md-ml100 {
    margin-left: 100px
  }
  .md-mr-10 {
    margin-right: -10px
  }
  .md-mr-15 {
    margin-right: -15px
  }
  .md-mr-20 {
    margin-right: -20px
  }
  .md-mr-25 {
    margin-right: -25px
  }
  .md-mr-30 {
    margin-right: -30px
  }
  .md-mr-35 {
    margin-right: -35px
  }
  .md-mr-40 {
    margin-right: -40px
  }
  .md-mr-45 {
    margin-right: -45px
  }
  .md-mr-50 {
    margin-right: -50px
  }
  .md-mr-55 {
    margin-right: -55px
  }
  .md-mr-60 {
    margin-right: -60px
  }
  .md-mr-70 {
    margin-right: -70px
  }
  .md-mr-80 {
    margin-right: -80px
  }
  .md-mr-90 {
    margin-right: -90px
  }
  .md-mr-100 {
    margin-right: -100px
  }
  .md-mr10 {
    margin-right: 10px
  }
  .md-mr15 {
    margin-right: 15px
  }
  .md-mr20 {
    margin-right: 20px
  }
  .md-mr25 {
    margin-right: 25px
  }
  .md-mr30 {
    margin-right: 30px
  }
  .md-mr35 {
    margin-right: 35px
  }
  .md-mr40 {
    margin-right: 40px
  }
  .md-mr45 {
    margin-right: 45px
  }
  .md-mr50 {
    margin-right: 50px
  }
  .md-mr55 {
    margin-right: 55px
  }
  .md-mr60 {
    margin-right: 60px
  }
  .md-mr70 {
    margin-right: 70px
  }
  .md-mr80 {
    margin-right: 80px
  }
  .md-mr90 {
    margin-right: 90px
  }
  .md-mr100 {
    margin-right: 100px
  }
  .md-m0 {
    margin: 0
  }
  .md-ml0 {
    margin-left: 0
  }
  .md-mr0 {
    margin-right: 0
  }
  .md-mt0 {
    margin-top: 0
  }
  .md-mb0 {
    margin-bottom: 0
  }
  .md-padt10 {
    padding-top: 10px
  }
  .md-padt15 {
    padding-top: 15px
  }
  .md-padt20 {
    padding-top: 20px
  }
  .md-padt25 {
    padding-top: 25px
  }
  .md-padt30 {
    padding-top: 30px
  }
  .md-padt35 {
    padding-top: 35px
  }
  .md-padt40 {
    padding-top: 40px
  }
  .md-padt45 {
    padding-top: 45px
  }
  .md-padt50 {
    padding-top: 50px
  }
  .md-padt60 {
    padding-top: 60px
  }
  .md-padt70 {
    padding-top: 70px
  }
  .md-padt80 {
    padding-top: 80px
  }
  .md-padt90 {
    padding-top: 90px
  }
  .md-padt100 {
    padding-top: 100px
  }
  .md-padb10 {
    padding-bottom: 10px
  }
  .md-padb15 {
    padding-bottom: 15px
  }
  .md-padb20 {
    padding-bottom: 20px
  }
  .md-padb25 {
    padding-bottom: 25px
  }
  .md-padb30 {
    padding-bottom: 30px
  }
  .md-padb35 {
    padding-bottom: 35px
  }
  .md-padb40 {
    padding-bottom: 40px
  }
  .md-padb45 {
    padding-bottom: 45px
  }
  .md-padb50 {
    padding-bottom: 50px
  }
  .md-padb60 {
    padding-bottom: 60px
  }
  .md-padb70 {
    padding-bottom: 70px
  }
  .md-padb80 {
    padding-bottom: 80px
  }
  .md-padb90 {
    padding-bottom: 90px
  }
  .md-padb100 {
    padding-bottom: 100px
  }
  .md-padl10 {
    padding-left: 10px
  }
  .md-padl15 {
    padding-left: 15px
  }
  .md-padl20 {
    padding-left: 20px
  }
  .md-padl25 {
    padding-left: 25px
  }
  .md-padl30 {
    padding-left: 30px
  }
  .md-padl35 {
    padding-left: 35px
  }
  .md-padl40 {
    padding-left: 40px
  }
  .md-padl45 {
    padding-left: 45px
  }
  .md-padl50 {
    padding-left: 50px
  }
  .md-padl60 {
    padding-left: 60px
  }
  .md-padl70 {
    padding-left: 70px
  }
  .md-padl80 {
    padding-left: 80px
  }
  .md-padl90 {
    padding-left: 90px
  }
  .md-padl100 {
    padding-left: 100px
  }
  .md-padr10 {
    padding-right: 10px
  }
  .md-padr15 {
    padding-right: 15px
  }
  .md-padr20 {
    padding-right: 20px
  }
  .md-padr25 {
    padding-right: 25px
  }
  .md-padr30 {
    padding-right: 30px
  }
  .md-padr35 {
    padding-right: 35px
  }
  .md-padr40 {
    padding-right: 40px
  }
  .md-padr45 {
    padding-right: 45px
  }
  .md-padr50 {
    padding-right: 50px
  }
  .md-padr60 {
    padding-right: 60px
  }
  .md-padr70 {
    padding-right: 70px
  }
  .md-padr80 {
    padding-right: 80px
  }
  .md-padr90 {
    padding-right: 90px
  }
  .md-padr100 {
    padding-right: 100px
  }
  .md-padl0 {
    padding-left: 0
  }
  .md-padr0 {
    padding-right: 0
  }
  .md-padt0 {
    padding-top: 0
  }
  .md-padb0 {
    padding-bottom: 0
  }
}

@include min(1280) {
  @for $i from 1 through $max_grid {
    .lg-grid#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
    .lg-gap#{$i} {
      grid-gap: nth($grid-margins, $i);
    }
    .lg-start#{$i} {
      grid-column-start: $i;
    }
    .lg-end#{$i} {
      grid-column-end: $i;
    }
  }
  .lg-col-12, .lg-row {
    width: grid(1, 1);
  }
  .lg-col-11 {
    width: grid(11, 12);
  }
  .lg-col-10 {
    width: grid(10, 12);
  }
  .lg-col-9 {
    width: grid(9, 12);
  }
  .lg-col-8 {
    width: grid(8, 12);
  }
  .lg-col-7 {
    width: grid(7, 12);
  }
  .lg-col-6 {
    width: grid(6, 12);
  }
  .lg-col-5 {
    width: grid(5, 12);
  }
  .lg-col-4 {
    width: calc(100% / 3);
  }
  .lg-col-3 {
    width: grid(3, 12)
  }
  .lg-col-2 {
    width: grid(2, 12);
  }
  .lg-col-1 {
    width: grid(1, 12);
  }
  .lg-flex {
    display: flex;
  }
  .lg-order1 {
    order: 1;
  }
  .lg-order2 {
    order: 2;
  }
  .lg-order3 {
    order: 3;
  }
  .lg-order4 {
    order: 4;
  }
  .lg-order5 {
    order: 5;
  }
  .lg-flex-wrap {
    flex-wrap: wrap;
  }
  .lg-nowrap {
    flex-wrap: nowrap;
  }
  .lg-dir-row {
    flex-direction: row;
  }
  .lg-dir-row-rev {
    flex-direction: row-reverse;
  }
  .lg-dir-col {
    flex-direction: column;
  }
  .lg-dir-col-rev {
    flex-direction: column-reverse;
  }
  .lg-align-center {
    align-items: center;
  }
  .lg-align-start {
    align-items: flex-start
  }
  .lg-align-end {
    align-items: flex-end
  }
  .lg-align-stretch {
    align-items: stretch;
  }
  .lg-justify-start {
    justify-content: flex-start;
  }
  .lg-justify-end {
    justify-content: flex-end;
  }
  .lg-justify-center {
    justify-content: center;
  }
  .lg-justify-between {
    justify-content: space-between;
  }
  .lg-justify-around {
    justify-content: space-around;
  }
  .lg-content-start {
    align-content: flex-start;
  }
  .lg-content-end {
    align-content: flex-end;
  }
  .lg-content-center {
    align-content: center;
  }
  .lg-content-stretch {
    align-content: stretch;
  }
  .lg-content-between {
    align-content: space-between;
  }
  .lg-content-around {
    align-content: space-around;
  }
  .lg-fw300, .lg-lig {
    font-weight: 300
  }

  .lg-fw400, .lg-reg {
    font-weight: 400
  }

  .lg-bold, .lg-fw700 {
    font-weight: 700
  }

  .lg-fw800, .lg-xbold {
    font-weight: 800
  }

  .lg-oblique {
    font-style: oblique
  }

  .lg-italic {
    font-style: italic
  }

  .lg-normal {
    font-style: normal
  }

  .lg-up {
    text-transform: uppercase
  }

  .lg-low {
    text-transform: lowercase
  }

  .lg-cap {
    text-transform: capitalize
  }

  .lg-no-bg {
    background: none
  }

  .lg-w-auto {
    width: auto
  }

  .lg-z-1 {
    z-index: -1
  }

  .lg-z0 {
    z-index: 0
  }

  .lg-z1 {
    z-index: 1
  }

  .lg-z100 {
    z-index: 100
  }

  .lg-z200 {
    z-index: 200
  }

  .lg-z300 {
    z-index: 300
  }

  .lg-z400 {
    z-index: 400
  }
  .lg-z500 {
    z-index: 500
  }
  .lg-z600 {
    z-index: 600
  }
  .lg-z700 {
    z-index: 700
  }
  .lg-z800 {
    z-index: 800
  }
  .lg-z900 {
    z-index: 900
  }
  .lg-z999 {
    z-index: 999
  }
  .lg-z1000 {
    z-index: 1000
  }
  .lg-cur-pointer {
    cursor: pointer
  }
  .lg-no-cur {
    cursor: not-allowed
  }
  .lg-cur-grab {
    cursor: grab
  }
  .lg-o-auto {
    overflow: auto
  }
  .lg-hidden {
    visibility: hidden
  }
  .lg-visible {
    visibility: visible
  }
  .lg-o-hidden {
    overflow: hidden
  }
  .lg-o-visible {
    overflow: visible
  }
  .lg-bl {
    display: block
  }
  .lg-inl {
    display: inline
  }
  .lg-inbl {
    display: inline-block
  }
  .lg-hide, .lg-ukryj {
    display: none
  }
  .lg-pokaz, .lg-show {
    display: block
  }
  .lg-hide-i, .lg-ukryj-i {
    display: none !important
  }
  .lg-pokaz-i, .lg-show-i {
    display: block !important
  }
  .lg-opa0 {
    opacity: 0
  }
  .lg-opa1 {
    opacity: 1
  }
  .lg-h0 {
    height: 0
  }
  .lg-h100 {
    height: 100%;
  }
  .lg-vh100 {
    height: 100vh
  }
  .lg-mvh100 {
    min-height: 100vh
  }
  .lg-mh100 {
    min-height: 100%
  }
  .lg-h-auto {
    height: auto
  }
  .lg-rel {
    position: relative
  }
  .lg-abs {
    position: absolute
  }
  .lg-fix {
    position: fixed
  }
  .lg-static {
    position: static
  }
  .lg-auto {
    margin: auto
  }

  .lg-bottom0 {
    bottom: 0
  }
  .lg-bottom10 {
    bottom: 10px
  }
  .lg-bottom15 {
    bottom: 15px
  }
  .lg-bottom20 {
    bottom: 20px
  }

  .lg-bottom25 {
    bottom: 25px
  }

  .lg-bottom30 {
    bottom: 30px
  }

  .lg-bottom35 {
    bottom: 35px
  }

  .lg-bottom40 {
    bottom: 40px
  }

  .lg-bottom45 {
    bottom: 45px
  }

  .lg-bottom50 {
    bottom: 50px
  }

  .lg-bottom55 {
    bottom: 55px
  }

  .lg-bottom60 {
    bottom: 60px
  }

  .lg-bottom70 {
    bottom: 70px
  }

  .lg-bottom80 {
    bottom: 80px
  }

  .lg-bottom90 {
    bottom: 90px
  }

  .lg-bottom100 {
    bottom: 100px
  }

  .lg-bottom-10 {
    bottom: -10px
  }

  .lg-bottom-15 {
    bottom: -15px
  }

  .lg-bottom-20 {
    bottom: -20px
  }

  .lg-bottom-25 {
    bottom: -25px
  }

  .lg-bottom-30 {
    bottom: -30px
  }

  .lg-bottom-35 {
    bottom: -35px
  }

  .lg-bottom-40 {
    bottom: -40px
  }

  .lg-bottom-45 {
    bottom: -45px
  }

  .lg-bottom-50 {
    bottom: -50px
  }

  .lg-bottom-55 {
    bottom: -55px
  }

  .lg-bottom-60 {
    bottom: -60px
  }

  .lg-bottom-70 {
    bottom: -70px
  }

  .lg-bottom-80 {
    bottom: -80px
  }

  .lg-bottom-90 {
    bottom: -90px
  }

  .lg-bottom-100 {
    bottom: -100px
  }

  .lg-left0 {
    left: 0
  }

  .lg-left10 {
    left: 10px
  }

  .lg-left15 {
    left: 15px
  }

  .lg-left20 {
    left: 20px
  }

  .lg-left25 {
    left: 25px
  }

  .lg-left30 {
    left: 30px
  }

  .lg-left35 {
    left: 35px
  }

  .lg-left40 {
    left: 40px
  }

  .lg-left45 {
    left: 45px
  }

  .lg-left50 {
    left: 50px
  }

  .lg-left55 {
    left: 55px
  }

  .lg-left60 {
    left: 60px
  }

  .lg-left70 {
    left: 70px
  }

  .lg-left80 {
    left: 80px
  }

  .lg-left90 {
    left: 90px
  }

  .lg-left100 {
    left: 100px
  }

  .lg-left-10 {
    left: -10px
  }

  .lg-left-15 {
    left: -15px
  }

  .lg-left-20 {
    left: -20px
  }

  .lg-left-25 {
    left: -25px
  }

  .lg-left-30 {
    left: -30px
  }

  .lg-left-35 {
    left: -35px
  }

  .lg-left-40 {
    left: -40px
  }

  .lg-left-45 {
    left: -45px
  }

  .lg-left-50 {
    left: -50px
  }

  .lg-left-55 {
    left: -55px
  }

  .lg-left-60 {
    left: -60px
  }

  .lg-left-70 {
    left: -70px
  }

  .lg-left-80 {
    left: -80px
  }

  .lg-left-90 {
    left: -90px
  }

  .lg-left-100 {
    left: -100px
  }

  .lg-right0 {
    right: 0
  }

  .lg-right10 {
    right: 10px
  }

  .lg-right15 {
    right: 15px
  }

  .lg-right20 {
    right: 20px
  }

  .lg-right25 {
    right: 25px
  }

  .lg-right30 {
    right: 30px
  }

  .lg-right35 {
    right: 35px
  }

  .lg-right40 {
    right: 40px
  }

  .lg-right45 {
    right: 45px
  }

  .lg-right50 {
    right: 50px
  }

  .lg-right55 {
    right: 55px
  }

  .lg-right60 {
    right: 60px
  }

  .lg-right70 {
    right: 70px
  }

  .lg-right80 {
    right: 80px
  }

  .lg-right90 {
    right: 90px
  }

  .lg-right100 {
    right: 100px
  }

  .lg-right-10 {
    right: -10px
  }

  .lg-right-15 {
    right: -15px
  }

  .lg-right-20 {
    right: -20px
  }

  .lg-right-25 {
    right: -25px
  }

  .lg-right-30 {
    right: -30px
  }

  .lg-right-35 {
    right: -35px
  }

  .lg-right-40 {
    right: -40px
  }

  .lg-right-45 {
    right: -45px
  }

  .lg-right-50 {
    right: -50px
  }

  .lg-right-55 {
    right: -55px
  }

  .lg-right-60 {
    right: -60px
  }

  .lg-right-70 {
    right: -70px
  }

  .lg-right-80 {
    right: -80px
  }

  .lg-right-90 {
    right: -90px
  }

  .lg-right-100 {
    right: -100px
  }

  .lg-top0 {
    top: 0
  }

  .lg-top10 {
    top: 10px
  }

  .lg-top15 {
    top: 15px
  }

  .lg-top20 {
    top: 20px
  }

  .lg-top25 {
    top: 25px
  }

  .lg-top30 {
    top: 30px
  }

  .lg-top35 {
    top: 35px
  }

  .lg-top40 {
    top: 40px
  }

  .lg-top45 {
    top: 45px
  }

  .lg-top50 {
    top: 50px
  }

  .lg-top55 {
    top: 55px
  }

  .lg-top60 {
    top: 60px
  }

  .lg-top70 {
    top: 70px
  }

  .lg-top80 {
    top: 80px
  }

  .lg-top90 {
    top: 90px
  }

  .lg-top100 {
    top: 100px
  }

  .lg-top-10 {
    top: -10px
  }

  .lg-top-15 {
    top: -15px
  }

  .lg-top-20 {
    top: -20px
  }

  .lg-top-25 {
    top: -25px
  }

  .lg-top-30 {
    top: -30px
  }

  .lg-top-35 {
    top: -35px
  }

  .lg-top-40 {
    top: -40px
  }

  .lg-top-45 {
    top: -45px
  }

  .lg-top-50 {
    top: -50px
  }

  .lg-top-55 {
    top: -55px
  }

  .lg-top-60 {
    top: -60px
  }

  .lg-top-70 {
    top: -70px
  }

  .lg-top-80 {
    top: -80px
  }

  .lg-top-90 {
    top: -90px
  }

  .lg-top-100 {
    top: -100px
  }

  .lg-top-auto {
    top: auto
  }

  .lg-bottom-auto {
    bottom: auto
  }

  .lg-left-auto {
    left: auto
  }

  .lg-right-auto {
    right: auto
  }

  .lg-txt-center {
    text-align: center
  }

  .lg-txt-left {
    text-align: left
  }

  .lg-txt-right {
    text-align: right
  }

  .lg-txt-justify {
    text-align: justify
  }

  .lg-mb-10 {
    margin-bottom: -10px
  }

  .lg-mb-15 {
    margin-bottom: -15px
  }

  .lg-mb-20 {
    margin-bottom: -20px
  }

  .lg-mb-25 {
    margin-bottom: -25px
  }

  .lg-mb-30 {
    margin-bottom: -30px
  }

  .lg-mb-35 {
    margin-bottom: -35px
  }

  .lg-mb-40 {
    margin-bottom: -40px
  }

  .lg-mb-45 {
    margin-bottom: -45px
  }

  .lg-mb-50 {
    margin-bottom: -50px
  }

  .lg-mb-55 {
    margin-bottom: -55px
  }

  .lg-mb-60 {
    margin-bottom: -60px
  }

  .lg-mb-70 {
    margin-bottom: -70px
  }

  .lg-mb-80 {
    margin-bottom: -80px
  }

  .lg-mb-90 {
    margin-bottom: -90px
  }

  .lg-mb-100 {
    margin-bottom: -100px
  }

  .lg-mb1 {
    margin-bottom: 1px
  }

  .lg-mb2 {
    margin-bottom: 2px
  }

  .lg-mb3 {
    margin-bottom: 3px
  }

  .lg-mb4 {
    margin-bottom: 4px
  }

  .lg-mb5 {
    margin-bottom: 5px
  }

  .lg-mb6 {
    margin-bottom: 6px
  }

  .lg-mb7 {
    margin-bottom: 7px
  }

  .lg-mb8 {
    margin-bottom: 8px
  }

  .lg-mb9 {
    margin-bottom: 9px
  }

  .lg-mb10 {
    margin-bottom: 10px
  }

  .lg-mb15 {
    margin-bottom: 15px
  }

  .lg-mb20 {
    margin-bottom: 20px
  }

  .lg-mb25 {
    margin-bottom: 25px
  }

  .lg-mb30 {
    margin-bottom: 30px
  }

  .lg-mb35 {
    margin-bottom: 35px
  }

  .lg-mb40 {
    margin-bottom: 40px
  }

  .lg-mb45 {
    margin-bottom: 45px
  }

  .lg-mb50 {
    margin-bottom: 50px
  }

  .lg-mb55 {
    margin-bottom: 55px
  }

  .lg-mb60 {
    margin-bottom: 60px
  }

  .lg-mb70 {
    margin-bottom: 70px
  }

  .lg-mb80 {
    margin-bottom: 80px
  }

  .lg-mb90 {
    margin-bottom: 90px
  }

  .lg-mb100 {
    margin-bottom: 100px
  }

  .lg-mt-10 {
    margin-top: -10px
  }

  .lg-mt-15 {
    margin-top: -15px
  }

  .lg-mt-20 {
    margin-top: -20px
  }

  .lg-mt-25 {
    margin-top: -25px
  }

  .lg-mt-30 {
    margin-top: -30px
  }

  .lg-mt-35 {
    margin-top: -35px
  }

  .lg-mt-40 {
    margin-top: -40px
  }

  .lg-mt-45 {
    margin-top: -45px
  }

  .lg-mt-50 {
    margin-top: -50px
  }

  .lg-mt-55 {
    margin-top: -55px
  }

  .lg-mt-60 {
    margin-top: -60px
  }

  .lg-mt-70 {
    margin-top: -70px
  }

  .lg-mt-80 {
    margin-top: -80px
  }

  .lg-mt-90 {
    margin-top: -90px
  }

  .lg-mt-100 {
    margin-top: -100px
  }
  .lg-mt10 {
    margin-top: 10px
  }

  .lg-mt15 {
    margin-top: 15px
  }

  .lg-mt20 {
    margin-top: 20px
  }

  .lg-mt25 {
    margin-top: 25px
  }

  .lg-mt30 {
    margin-top: 30px
  }

  .lg-mt35 {
    margin-top: 35px
  }

  .lg-mt40 {
    margin-top: 40px
  }

  .lg-mt45 {
    margin-top: 45px
  }

  .lg-mt50 {
    margin-top: 50px
  }

  .lg-mt55 {
    margin-top: 55px
  }

  .lg-mt60 {
    margin-top: 60px
  }

  .lg-mt70 {
    margin-top: 70px
  }

  .lg-mt80 {
    margin-top: 80px
  }

  .lg-mt90 {
    margin-top: 90px
  }
  .lg-mt100 {
    margin-top: 100px
  }
  .lg-ml-10 {
    margin-left: -10px
  }
  .lg-ml-15 {
    margin-left: -15px
  }
  .lg-ml-20 {
    margin-left: -20px
  }
  .lg-ml-25 {
    margin-left: -25px
  }
  .lg-ml-30 {
    margin-left: -30px
  }
  .lg-ml-35 {
    margin-left: -35px
  }
  .lg-ml-40 {
    margin-left: -40px
  }
  .lg-ml-45 {
    margin-left: -45px
  }
  .lg-ml-50 {
    margin-left: -50px
  }
  .lg-ml-55 {
    margin-left: -55px
  }
  .lg-ml-60 {
    margin-left: -60px
  }
  .lg-ml-70 {
    margin-left: -70px
  }
  .lg-ml-80 {
    margin-left: -80px
  }
  .lg-ml-90 {
    margin-left: -90px
  }
  .lg-ml-100 {
    margin-left: -100px
  }
  .lg-ml10 {
    margin-left: 10px
  }
  .lg-ml15 {
    margin-left: 15px
  }
  .lg-ml20 {
    margin-left: 20px
  }
  .lg-ml25 {
    margin-left: 25px
  }
  .lg-ml30 {
    margin-left: 30px
  }
  .lg-ml35 {
    margin-left: 35px
  }
  .lg-ml40 {
    margin-left: 40px
  }
  .lg-ml45 {
    margin-left: 45px
  }
  .lg-ml50 {
    margin-left: 50px
  }
  .lg-ml55 {
    margin-left: 55px
  }
  .lg-ml60 {
    margin-left: 60px
  }
  .lg-ml70 {
    margin-left: 70px
  }
  .lg-ml80 {
    margin-left: 80px
  }
  .lg-ml90 {
    margin-left: 90px
  }
  .lg-ml100 {
    margin-left: 100px
  }
  .lg-mr-10 {
    margin-right: -10px
  }
  .lg-mr-15 {
    margin-right: -15px
  }
  .lg-mr-20 {
    margin-right: -20px
  }
  .lg-mr-25 {
    margin-right: -25px
  }
  .lg-mr-30 {
    margin-right: -30px
  }
  .lg-mr-35 {
    margin-right: -35px
  }
  .lg-mr-40 {
    margin-right: -40px
  }
  .lg-mr-45 {
    margin-right: -45px
  }
  .lg-mr-50 {
    margin-right: -50px
  }
  .lg-mr-55 {
    margin-right: -55px
  }
  .lg-mr-60 {
    margin-right: -60px
  }
  .lg-mr-70 {
    margin-right: -70px
  }
  .lg-mr-80 {
    margin-right: -80px
  }
  .lg-mr-90 {
    margin-right: -90px
  }
  .lg-mr-100 {
    margin-right: -100px
  }
  .lg-mr10 {
    margin-right: 10px
  }
  .lg-mr15 {
    margin-right: 15px
  }
  .lg-mr20 {
    margin-right: 20px
  }
  .lg-mr25 {
    margin-right: 25px
  }
  .lg-mr30 {
    margin-right: 30px
  }
  .lg-mr35 {
    margin-right: 35px
  }
  .lg-mr40 {
    margin-right: 40px
  }
  .lg-mr45 {
    margin-right: 45px
  }
  .lg-mr50 {
    margin-right: 50px
  }
  .lg-mr55 {
    margin-right: 55px
  }
  .lg-mr60 {
    margin-right: 60px
  }
  .lg-mr70 {
    margin-right: 70px
  }
  .lg-mr80 {
    margin-right: 80px
  }
  .lg-mr90 {
    margin-right: 90px
  }
  .lg-mr100 {
    margin-right: 100px
  }
  .lg-m0 {
    margin: 0
  }
  .lg-ml0 {
    margin-left: 0
  }
  .lg-mr0 {
    margin-right: 0
  }
  .lg-mt0 {
    margin-top: 0
  }
  .lg-mb0 {
    margin-bottom: 0
  }
  .lg-padt10 {
    padding-top: 10px
  }
  .lg-padt15 {
    padding-top: 15px
  }
  .lg-padt20 {
    padding-top: 20px
  }
  .lg-padt25 {
    padding-top: 25px
  }
  .lg-padt30 {
    padding-top: 30px
  }
  .lg-padt35 {
    padding-top: 35px
  }
  .lg-padt40 {
    padding-top: 40px
  }
  .lg-padt45 {
    padding-top: 45px
  }
  .lg-padt50 {
    padding-top: 50px
  }
  .lg-padt60 {
    padding-top: 60px
  }
  .lg-padt70 {
    padding-top: 70px
  }
  .lg-padt80 {
    padding-top: 80px
  }
  .lg-padt90 {
    padding-top: 90px
  }
  .lg-padt100 {
    padding-top: 100px
  }
  .lg-padb10 {
    padding-bottom: 10px
  }
  .lg-padb15 {
    padding-bottom: 15px
  }
  .lg-padb20 {
    padding-bottom: 20px
  }
  .lg-padb25 {
    padding-bottom: 25px
  }
  .lg-padb30 {
    padding-bottom: 30px
  }
  .lg-padb35 {
    padding-bottom: 35px
  }
  .lg-padb40 {
    padding-bottom: 40px
  }
  .lg-padb45 {
    padding-bottom: 45px
  }
  .lg-padb50 {
    padding-bottom: 50px
  }
  .lg-padb60 {
    padding-bottom: 60px
  }
  .lg-padb70 {
    padding-bottom: 70px
  }
  .lg-padb80 {
    padding-bottom: 80px
  }
  .lg-padb90 {
    padding-bottom: 90px
  }
  .lg-padb100 {
    padding-bottom: 100px
  }
  .lg-padl10 {
    padding-left: 10px
  }
  .lg-padl15 {
    padding-left: 15px
  }
  .lg-padl20 {
    padding-left: 20px
  }
  .lg-padl25 {
    padding-left: 25px
  }
  .lg-padl30 {
    padding-left: 30px
  }
  .lg-padl35 {
    padding-left: 35px
  }
  .lg-padl40 {
    padding-left: 40px
  }
  .lg-padl45 {
    padding-left: 45px
  }
  .lg-padl50 {
    padding-left: 50px
  }
  .lg-padl60 {
    padding-left: 60px
  }
  .lg-padl70 {
    padding-left: 70px
  }
  .lg-padl80 {
    padding-left: 80px
  }
  .lg-padl90 {
    padding-left: 90px
  }
  .lg-padl100 {
    padding-left: 100px
  }
  .lg-padr10 {
    padding-right: 10px
  }
  .lg-padr15 {
    padding-right: 15px
  }
  .lg-padr20 {
    padding-right: 20px
  }
  .lg-padr25 {
    padding-right: 25px
  }
  .lg-padr30 {
    padding-right: 30px
  }
  .lg-padr35 {
    padding-right: 35px
  }
  .lg-padr40 {
    padding-right: 40px
  }
  .lg-padr45 {
    padding-right: 45px
  }
  .lg-padr50 {
    padding-right: 50px
  }
  .lg-padr60 {
    padding-right: 60px
  }
  .lg-padr70 {
    padding-right: 70px
  }
  .lg-padr80 {
    padding-right: 80px
  }
  .lg-padr90 {
    padding-right: 90px
  }
  .lg-padr100 {
    padding-right: 100px
  }
  .lg-padl0 {
    padding-left: 0
  }
  .lg-padr0 {
    padding-right: 0
  }
  .lg-padt0 {
    padding-top: 0
  }
  .lg-padb0 {
    padding-bottom: 0
  }
}

/*
@include min(1441) {
  .hd-col-12, .hd-row {
    width: grid(1, 1);
  }
  .hd-col-11 {
    width: grid(11, 12);
  }
  .hd-col-10 {
    width: grid(10, 12);
  }
  .hd-col-9 {
    width: grid(9, 12);
  }
  .hd-col-8 {
    width: grid(8, 12);
  }
  .hd-col-7 {
    width: grid(7, 12);
  }
  .hd-col-6 {
    width: grid(6, 12);
  }
  .hd-col-5 {
    width: grid(5, 12);
  }
  .hd-col-4 {
    width: calc(100% / 3);
  }
  .hd-col-3 {
    width: grid(3, 12)
  }
  .hd-col-2 {
    width: grid(2, 12);
  }
  .hd-col-1 {
    width: grid(1, 12);
  }
  .hd-flex {
    display: flex;
  }
  .hd-order1 {
    order: 1;
  }
  .hd-order2 {
    order: 2;
  }
  .hd-order3 {
    order: 3;
  }
  .hd-order4 {
    order: 4;
  }
  .hd-order5 {
    order: 5;
  }
  .hd-flex-wrap {
    flex-wrap: wrap;
  }
  .hd-nowrap {
    flex-wrap: nowrap;
  }
  .hd-dir-row {
    flex-direction: row;
  }
  .hd-dir-row-rev {
    flex-direction: row-reverse;
  }
  .hd-dir-col {
    flex-direction: column;
  }
  .hd-dir-col-rev {
    flex-direction: column-reverse;
  }
  .hd-align-center {
    align-items: center;
  }
  .hd-align-start {
    align-items: flex-start
  }
  .hd-align-end {
    align-items: flex-end
  }
  .hd-align-stretch {
    align-items: stretch;
  }
  .hd-justify-start {
    justify-content: flex-start;
  }
  .hd-justify-end {
    justify-content: flex-end;
  }
  .hd-justify-center {
    justify-content: center;
  }
  .hd-justify-between {
    justify-content: space-between;
  }
  .hd-justify-around {
    justify-content: space-around;
  }
  .hd-content-start {
    align-content: flex-start;
  }
  .hd-content-end {
    align-content: flex-end;
  }
  .hd-content-center {
    align-content: center;
  }
  .hd-content-stretch {
    align-content: stretch;
  }
  .hd-content-between {
    align-content: space-between;
  }
  .hd-content-around {
    align-content: space-around;
  }
  .hd-fw300, .hd-lig {
    font-weight: 300
  }

  .hd-fw400, .hd-reg {
    font-weight: 400
  }

  .hd-bold, .hd-fw700 {
    font-weight: 700
  }

  .hd-fw800, .hd-xbold {
    font-weight: 800
  }

  .hd-oblique {
    font-style: oblique
  }

  .hd-italic {
    font-style: italic
  }

  .hd-normal {
    font-style: normal
  }

  .hd-up {
    text-transform: uppercase
  }

  .hd-low {
    text-transform: lowercase
  }

  .hd-cap {
    text-transform: capitalize
  }

  .hd-no-bg {
    background: none
  }

  .hd-w-auto {
    width: auto
  }

  .hd-z-1 {
    z-index: -1
  }

  .hd-z0 {
    z-index: 0
  }

  .hd-z1 {
    z-index: 1
  }

  .hd-z100 {
    z-index: 100
  }

  .hd-z200 {
    z-index: 200
  }

  .hd-z300 {
    z-index: 300
  }

  .hd-z400 {
    z-index: 400
  }
  .hd-z500 {
    z-index: 500
  }
  .hd-z600 {
    z-index: 600
  }
  .hd-z700 {
    z-index: 700
  }
  .hd-z800 {
    z-index: 800
  }
  .hd-z900 {
    z-index: 900
  }
  .hd-z999 {
    z-index: 999
  }
  .hd-z1000 {
    z-index: 1000
  }
  .hd-cur-pointer {
    cursor: pointer
  }
  .hd-no-cur {
    cursor: not-allowed
  }
  .hd-cur-grab {
    cursor: grab
  }
  .hd-o-auto {
    overflow: auto
  }
  .hd-hidden {
    visibility: hidden
  }
  .hd-visible {
    visibility: visible
  }
  .hd-o-hidden {
    overflow: hidden
  }
  .hd-o-visible {
    overflow: visible
  }
  .hd-bl {
    display: block
  }
  .hd-inl {
    display: inline
  }
  .hd-inbl {
    display: inline-block
  }
  .hd-hide, .hd-ukryj {
    display: none
  }
  .hd-pokaz, .hd-show {
    display: block
  }
  .hd-hide-i, .hd-ukryj-i {
    display: none !important
  }
  .hd-pokaz-i, .hd-show-i {
    display: block !important
  }
  .hd-opa0 {
    opacity: 0
  }
  .hd-opa1 {
    opacity: 1
  }
  .hd-h0 {
    height: 0
  }
  .hd-h100 {
    height: 100%;
  }
  .hd-vh100 {
    height: 100vh
  }
  .hd-mvh100 {
    min-height: 100vh
  }
  .hd-mh100 {
    min-height: 100%
  }
  .hd-h-auto {
    height: auto
  }
  .hd-rel {
    position: relative
  }
  .hd-abs {
    position: absolute
  }
  .hd-fix {
    position: fixed
  }
  .hd-static {
    position: static
  }
  .hd-auto {
    margin: auto
  }

  .hd-bottom0 {
    bottom: 0
  }
  .hd-bottom10 {
    bottom: 10px
  }
  .hd-bottom15 {
    bottom: 15px
  }
  .hd-bottom20 {
    bottom: 20px
  }

  .hd-bottom25 {
    bottom: 25px
  }

  .hd-bottom30 {
    bottom: 30px
  }

  .hd-bottom35 {
    bottom: 35px
  }

  .hd-bottom40 {
    bottom: 40px
  }

  .hd-bottom45 {
    bottom: 45px
  }

  .hd-bottom50 {
    bottom: 50px
  }

  .hd-bottom55 {
    bottom: 55px
  }

  .hd-bottom60 {
    bottom: 60px
  }

  .hd-bottom70 {
    bottom: 70px
  }

  .hd-bottom80 {
    bottom: 80px
  }

  .hd-bottom90 {
    bottom: 90px
  }

  .hd-bottom100 {
    bottom: 100px
  }

  .hd-bottom-10 {
    bottom: -10px
  }

  .hd-bottom-15 {
    bottom: -15px
  }

  .hd-bottom-20 {
    bottom: -20px
  }

  .hd-bottom-25 {
    bottom: -25px
  }

  .hd-bottom-30 {
    bottom: -30px
  }

  .hd-bottom-35 {
    bottom: -35px
  }

  .hd-bottom-40 {
    bottom: -40px
  }

  .hd-bottom-45 {
    bottom: -45px
  }

  .hd-bottom-50 {
    bottom: -50px
  }

  .hd-bottom-55 {
    bottom: -55px
  }

  .hd-bottom-60 {
    bottom: -60px
  }

  .hd-bottom-70 {
    bottom: -70px
  }

  .hd-bottom-80 {
    bottom: -80px
  }

  .hd-bottom-90 {
    bottom: -90px
  }

  .hd-bottom-100 {
    bottom: -100px
  }

  .hd-left0 {
    left: 0
  }

  .hd-left10 {
    left: 10px
  }

  .hd-left15 {
    left: 15px
  }

  .hd-left20 {
    left: 20px
  }

  .hd-left25 {
    left: 25px
  }

  .hd-left30 {
    left: 30px
  }

  .hd-left35 {
    left: 35px
  }

  .hd-left40 {
    left: 40px
  }

  .hd-left45 {
    left: 45px
  }

  .hd-left50 {
    left: 50px
  }

  .hd-left55 {
    left: 55px
  }

  .hd-left60 {
    left: 60px
  }

  .hd-left70 {
    left: 70px
  }

  .hd-left80 {
    left: 80px
  }

  .hd-left90 {
    left: 90px
  }

  .hd-left100 {
    left: 100px
  }

  .hd-left-10 {
    left: -10px
  }

  .hd-left-15 {
    left: -15px
  }

  .hd-left-20 {
    left: -20px
  }

  .hd-left-25 {
    left: -25px
  }

  .hd-left-30 {
    left: -30px
  }

  .hd-left-35 {
    left: -35px
  }

  .hd-left-40 {
    left: -40px
  }

  .hd-left-45 {
    left: -45px
  }

  .hd-left-50 {
    left: -50px
  }

  .hd-left-55 {
    left: -55px
  }

  .hd-left-60 {
    left: -60px
  }

  .hd-left-70 {
    left: -70px
  }

  .hd-left-80 {
    left: -80px
  }

  .hd-left-90 {
    left: -90px
  }

  .hd-left-100 {
    left: -100px
  }

  .hd-right0 {
    right: 0
  }

  .hd-right10 {
    right: 10px
  }

  .hd-right15 {
    right: 15px
  }

  .hd-right20 {
    right: 20px
  }

  .hd-right25 {
    right: 25px
  }

  .hd-right30 {
    right: 30px
  }

  .hd-right35 {
    right: 35px
  }

  .hd-right40 {
    right: 40px
  }

  .hd-right45 {
    right: 45px
  }

  .hd-right50 {
    right: 50px
  }

  .hd-right55 {
    right: 55px
  }

  .hd-right60 {
    right: 60px
  }

  .hd-right70 {
    right: 70px
  }

  .hd-right80 {
    right: 80px
  }

  .hd-right90 {
    right: 90px
  }

  .hd-right100 {
    right: 100px
  }

  .hd-right-10 {
    right: -10px
  }

  .hd-right-15 {
    right: -15px
  }

  .hd-right-20 {
    right: -20px
  }

  .hd-right-25 {
    right: -25px
  }

  .hd-right-30 {
    right: -30px
  }

  .hd-right-35 {
    right: -35px
  }

  .hd-right-40 {
    right: -40px
  }

  .hd-right-45 {
    right: -45px
  }

  .hd-right-50 {
    right: -50px
  }

  .hd-right-55 {
    right: -55px
  }

  .hd-right-60 {
    right: -60px
  }

  .hd-right-70 {
    right: -70px
  }

  .hd-right-80 {
    right: -80px
  }

  .hd-right-90 {
    right: -90px
  }

  .hd-right-100 {
    right: -100px
  }

  .hd-top0 {
    top: 0
  }

  .hd-top10 {
    top: 10px
  }

  .hd-top15 {
    top: 15px
  }

  .hd-top20 {
    top: 20px
  }

  .hd-top25 {
    top: 25px
  }

  .hd-top30 {
    top: 30px
  }

  .hd-top35 {
    top: 35px
  }

  .hd-top40 {
    top: 40px
  }

  .hd-top45 {
    top: 45px
  }

  .hd-top50 {
    top: 50px
  }

  .hd-top55 {
    top: 55px
  }

  .hd-top60 {
    top: 60px
  }

  .hd-top70 {
    top: 70px
  }

  .hd-top80 {
    top: 80px
  }

  .hd-top90 {
    top: 90px
  }

  .hd-top100 {
    top: 100px
  }

  .hd-top-10 {
    top: -10px
  }

  .hd-top-15 {
    top: -15px
  }

  .hd-top-20 {
    top: -20px
  }

  .hd-top-25 {
    top: -25px
  }

  .hd-top-30 {
    top: -30px
  }

  .hd-top-35 {
    top: -35px
  }

  .hd-top-40 {
    top: -40px
  }

  .hd-top-45 {
    top: -45px
  }

  .hd-top-50 {
    top: -50px
  }

  .hd-top-55 {
    top: -55px
  }

  .hd-top-60 {
    top: -60px
  }

  .hd-top-70 {
    top: -70px
  }

  .hd-top-80 {
    top: -80px
  }

  .hd-top-90 {
    top: -90px
  }

  .hd-top-100 {
    top: -100px
  }

  .hd-top-auto {
    top: auto
  }

  .hd-bottom-auto {
    bottom: auto
  }

  .hd-left-auto {
    left: auto
  }

  .hd-right-auto {
    right: auto
  }

  .hd-txt-center {
    text-align: center
  }

  .hd-txt-left {
    text-align: left
  }

  .hd-txt-right {
    text-align: right
  }

  .hd-txt-justify {
    text-align: justify
  }

  .hd-mb-10 {
    margin-bottom: -10px
  }

  .hd-mb-15 {
    margin-bottom: -15px
  }

  .hd-mb-20 {
    margin-bottom: -20px
  }

  .hd-mb-25 {
    margin-bottom: -25px
  }

  .hd-mb-30 {
    margin-bottom: -30px
  }

  .hd-mb-35 {
    margin-bottom: -35px
  }

  .hd-mb-40 {
    margin-bottom: -40px
  }

  .hd-mb-45 {
    margin-bottom: -45px
  }

  .hd-mb-50 {
    margin-bottom: -50px
  }

  .hd-mb-55 {
    margin-bottom: -55px
  }

  .hd-mb-60 {
    margin-bottom: -60px
  }

  .hd-mb-70 {
    margin-bottom: -70px
  }

  .hd-mb-80 {
    margin-bottom: -80px
  }

  .hd-mb-90 {
    margin-bottom: -90px
  }

  .hd-mb-100 {
    margin-bottom: -100px
  }

  .hd-mb1 {
    margin-bottom: 1px
  }

  .hd-mb2 {
    margin-bottom: 2px
  }

  .hd-mb3 {
    margin-bottom: 3px
  }

  .hd-mb4 {
    margin-bottom: 4px
  }

  .hd-mb5 {
    margin-bottom: 5px
  }

  .hd-mb6 {
    margin-bottom: 6px
  }

  .hd-mb7 {
    margin-bottom: 7px
  }

  .hd-mb8 {
    margin-bottom: 8px
  }

  .hd-mb9 {
    margin-bottom: 9px
  }

  .hd-mb10 {
    margin-bottom: 10px
  }

  .hd-mb15 {
    margin-bottom: 15px
  }

  .hd-mb20 {
    margin-bottom: 20px
  }

  .hd-mb25 {
    margin-bottom: 25px
  }

  .hd-mb30 {
    margin-bottom: 30px
  }

  .hd-mb35 {
    margin-bottom: 35px
  }

  .hd-mb40 {
    margin-bottom: 40px
  }

  .hd-mb45 {
    margin-bottom: 45px
  }

  .hd-mb50 {
    margin-bottom: 50px
  }

  .hd-mb55 {
    margin-bottom: 55px
  }

  .hd-mb60 {
    margin-bottom: 60px
  }

  .hd-mb70 {
    margin-bottom: 70px
  }

  .hd-mb80 {
    margin-bottom: 80px
  }

  .hd-mb90 {
    margin-bottom: 90px
  }

  .hd-mb100 {
    margin-bottom: 100px
  }

  .hd-mt-10 {
    margin-top: -10px
  }

  .hd-mt-15 {
    margin-top: -15px
  }

  .hd-mt-20 {
    margin-top: -20px
  }

  .hd-mt-25 {
    margin-top: -25px
  }

  .hd-mt-30 {
    margin-top: -30px
  }

  .hd-mt-35 {
    margin-top: -35px
  }

  .hd-mt-40 {
    margin-top: -40px
  }

  .hd-mt-45 {
    margin-top: -45px
  }

  .hd-mt-50 {
    margin-top: -50px
  }

  .hd-mt-55 {
    margin-top: -55px
  }

  .hd-mt-60 {
    margin-top: -60px
  }

  .hd-mt-70 {
    margin-top: -70px
  }

  .hd-mt-80 {
    margin-top: -80px
  }

  .hd-mt-90 {
    margin-top: -90px
  }

  .hd-mt-100 {
    margin-top: -100px
  }
  .hd-mt10 {
    margin-top: 10px
  }

  .hd-mt15 {
    margin-top: 15px
  }

  .hd-mt20 {
    margin-top: 20px
  }

  .hd-mt25 {
    margin-top: 25px
  }

  .hd-mt30 {
    margin-top: 30px
  }

  .hd-mt35 {
    margin-top: 35px
  }

  .hd-mt40 {
    margin-top: 40px
  }

  .hd-mt45 {
    margin-top: 45px
  }

  .hd-mt50 {
    margin-top: 50px
  }

  .hd-mt55 {
    margin-top: 55px
  }

  .hd-mt60 {
    margin-top: 60px
  }

  .hd-mt70 {
    margin-top: 70px
  }

  .hd-mt80 {
    margin-top: 80px
  }

  .hd-mt90 {
    margin-top: 90px
  }
  .hd-mt100 {
    margin-top: 100px
  }
  .hd-ml-10 {
    margin-left: -10px
  }
  .hd-ml-15 {
    margin-left: -15px
  }
  .hd-ml-20 {
    margin-left: -20px
  }
  .hd-ml-25 {
    margin-left: -25px
  }
  .hd-ml-30 {
    margin-left: -30px
  }
  .hd-ml-35 {
    margin-left: -35px
  }
  .hd-ml-40 {
    margin-left: -40px
  }
  .hd-ml-45 {
    margin-left: -45px
  }
  .hd-ml-50 {
    margin-left: -50px
  }
  .hd-ml-55 {
    margin-left: -55px
  }
  .hd-ml-60 {
    margin-left: -60px
  }
  .hd-ml-70 {
    margin-left: -70px
  }
  .hd-ml-80 {
    margin-left: -80px
  }
  .hd-ml-90 {
    margin-left: -90px
  }
  .hd-ml-100 {
    margin-left: -100px
  }
  .hd-ml10 {
    margin-left: 10px
  }
  .hd-ml15 {
    margin-left: 15px
  }
  .hd-ml20 {
    margin-left: 20px
  }
  .hd-ml25 {
    margin-left: 25px
  }
  .hd-ml30 {
    margin-left: 30px
  }
  .hd-ml35 {
    margin-left: 35px
  }
  .hd-ml40 {
    margin-left: 40px
  }
  .hd-ml45 {
    margin-left: 45px
  }
  .hd-ml50 {
    margin-left: 50px
  }
  .hd-ml55 {
    margin-left: 55px
  }
  .hd-ml60 {
    margin-left: 60px
  }
  .hd-ml70 {
    margin-left: 70px
  }
  .hd-ml80 {
    margin-left: 80px
  }
  .hd-ml90 {
    margin-left: 90px
  }
  .hd-ml100 {
    margin-left: 100px
  }
  .hd-mr-10 {
    margin-right: -10px
  }
  .hd-mr-15 {
    margin-right: -15px
  }
  .hd-mr-20 {
    margin-right: -20px
  }
  .hd-mr-25 {
    margin-right: -25px
  }
  .hd-mr-30 {
    margin-right: -30px
  }
  .hd-mr-35 {
    margin-right: -35px
  }
  .hd-mr-40 {
    margin-right: -40px
  }
  .hd-mr-45 {
    margin-right: -45px
  }
  .hd-mr-50 {
    margin-right: -50px
  }
  .hd-mr-55 {
    margin-right: -55px
  }
  .hd-mr-60 {
    margin-right: -60px
  }
  .hd-mr-70 {
    margin-right: -70px
  }
  .hd-mr-80 {
    margin-right: -80px
  }
  .hd-mr-90 {
    margin-right: -90px
  }
  .hd-mr-100 {
    margin-right: -100px
  }
  .hd-mr10 {
    margin-right: 10px
  }
  .hd-mr15 {
    margin-right: 15px
  }
  .hd-mr20 {
    margin-right: 20px
  }
  .hd-mr25 {
    margin-right: 25px
  }
  .hd-mr30 {
    margin-right: 30px
  }
  .hd-mr35 {
    margin-right: 35px
  }
  .hd-mr40 {
    margin-right: 40px
  }
  .hd-mr45 {
    margin-right: 45px
  }
  .hd-mr50 {
    margin-right: 50px
  }
  .hd-mr55 {
    margin-right: 55px
  }
  .hd-mr60 {
    margin-right: 60px
  }
  .hd-mr70 {
    margin-right: 70px
  }
  .hd-mr80 {
    margin-right: 80px
  }
  .hd-mr90 {
    margin-right: 90px
  }
  .hd-mr100 {
    margin-right: 100px
  }
  .hd-m0 {
    margin: 0
  }
  .hd-ml0 {
    margin-left: 0
  }
  .hd-mr0 {
    margin-right: 0
  }
  .hd-mt0 {
    margin-top: 0
  }
  .hd-mb0 {
    margin-bottom: 0
  }
  .hd-padt10 {
    padding-top: 10px
  }
  .hd-padt15 {
    padding-top: 15px
  }
  .hd-padt20 {
    padding-top: 20px
  }
  .hd-padt25 {
    padding-top: 25px
  }
  .hd-padt30 {
    padding-top: 30px
  }
  .hd-padt35 {
    padding-top: 35px
  }
  .hd-padt40 {
    padding-top: 40px
  }
  .hd-padt45 {
    padding-top: 45px
  }
  .hd-padt50 {
    padding-top: 50px
  }
  .hd-padt60 {
    padding-top: 60px
  }
  .hd-padt70 {
    padding-top: 70px
  }
  .hd-padt80 {
    padding-top: 80px
  }
  .hd-padt90 {
    padding-top: 90px
  }
  .hd-padt100 {
    padding-top: 100px
  }
  .hd-padb10 {
    padding-bottom: 10px
  }
  .hd-padb15 {
    padding-bottom: 15px
  }
  .hd-padb20 {
    padding-bottom: 20px
  }
  .hd-padb25 {
    padding-bottom: 25px
  }
  .hd-padb30 {
    padding-bottom: 30px
  }
  .hd-padb35 {
    padding-bottom: 35px
  }
  .hd-padb40 {
    padding-bottom: 40px
  }
  .hd-padb45 {
    padding-bottom: 45px
  }
  .hd-padb50 {
    padding-bottom: 50px
  }
  .hd-padb60 {
    padding-bottom: 60px
  }
  .hd-padb70 {
    padding-bottom: 70px
  }
  .hd-padb80 {
    padding-bottom: 80px
  }
  .hd-padb90 {
    padding-bottom: 90px
  }
  .hd-padb100 {
    padding-bottom: 100px
  }
  .hd-padl10 {
    padding-left: 10px
  }
  .hd-padl15 {
    padding-left: 15px
  }
  .hd-padl20 {
    padding-left: 20px
  }
  .hd-padl25 {
    padding-left: 25px
  }
  .hd-padl30 {
    padding-left: 30px
  }
  .hd-padl35 {
    padding-left: 35px
  }
  .hd-padl40 {
    padding-left: 40px
  }
  .hd-padl45 {
    padding-left: 45px
  }
  .hd-padl50 {
    padding-left: 50px
  }
  .hd-padl60 {
    padding-left: 60px
  }
  .hd-padl70 {
    padding-left: 70px
  }
  .hd-padl80 {
    padding-left: 80px
  }
  .hd-padl90 {
    padding-left: 90px
  }
  .hd-padl100 {
    padding-left: 100px
  }
  .hd-padr10 {
    padding-right: 10px
  }
  .hd-padr15 {
    padding-right: 15px
  }
  .hd-padr20 {
    padding-right: 20px
  }
  .hd-padr25 {
    padding-right: 25px
  }
  .hd-padr30 {
    padding-right: 30px
  }
  .hd-padr35 {
    padding-right: 35px
  }
  .hd-padr40 {
    padding-right: 40px
  }
  .hd-padr45 {
    padding-right: 45px
  }
  .hd-padr50 {
    padding-right: 50px
  }
  .hd-padr60 {
    padding-right: 60px
  }
  .hd-padr70 {
    padding-right: 70px
  }
  .hd-padr80 {
    padding-right: 80px
  }
  .hd-padr90 {
    padding-right: 90px
  }
  .hd-padr100 {
    padding-right: 100px
  }
  .hd-padl0 {
    padding-left: 0
  }
  .hd-padr0 {
    padding-right: 0
  }
  .hd-padt0 {
    padding-top: 0
  }
  .hd-padb0 {
    padding-bottom: 0
  }
}*/
