@import '../helpers/mixins';

@for $i from 1 through $max_grid {
  .grid#{$i} {
    grid-template-columns: repeat($i, 1fr);
  }
  .gap#{$i} {
    grid-gap: nth($grid-margins, $i);
  }
  .start#{$i} {
    grid-column-start: $i;
  }
  .end#{$i} {
    grid-column-end: $i;
  }
}

.col-12, .row {
  width: grid(1, 1);
}

.col-11 {
  width: grid(11, 12);
}

.col-10 {
  width: grid(10, 12);
}

.col-9 {
  width: grid(9, 12);
}

.col-8 {
  width: grid(8, 12);
}

.col-7 {
  width: grid(7, 12);
}

.col-6 {
  width: grid(6, 12);
}

.col-5 {
  width: grid(5, 12);
}

.col-4 {
  width: calc(100% / 3);
}

.col-3 {
  width: grid(3, 12)
}

.col-2 {
  width: grid(2, 12);
}

.col-1 {
  width: grid(1, 12);
}

.flex {
  display: flex;
}

.order1 {
  order: 1;
}

.order2 {
  order: 2;
}

.order3 {
  order: 3;
}

.order4 {
  order: 4;
}

.order5 {
  order: 5;
}

.flex-wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.dir-row {
  flex-direction: row;
}

.dir-row-rev {
  flex-direction: row-reverse;
}

.dir-col {
  flex-direction: column;
}

.dir-col-rev {
  flex-direction: column-reverse;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start
}

.align-end {
  align-items: flex-end
}

.align-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.content-start {
  align-content: flex-start;
}

.content-end {
  align-content: flex-end;
}

.content-center {
  align-content: center;
}

.content-stretch {
  align-content: stretch;
}

.content-between {
  align-content: space-between;
}

.content-around {
  align-content: space-around;
}

.fw300, .lig {
  font-weight: 300
}

.fw400, .reg {
  font-weight: 400
}

.bold, .fw700 {
  font-weight: 700
}

.fw800, .xbold {
  font-weight: 800
}

.oblique {
  font-style: oblique
}

.italic {
  font-style: italic
}

.normal {
  font-style: normal
}

.up {
  text-transform: uppercase
}

.low {
  text-transform: lowercase
}

.cap {
  text-transform: capitalize
}

.no-bg {
  background: none
}

.w-auto {
  width: auto
}

.z-1 {
  z-index: -1
}

.z0 {
  z-index: 0
}

.z1 {
  z-index: 1
}

.z100 {
  z-index: 100
}

.z200 {
  z-index: 200
}

.z300 {
  z-index: 300
}

.z400 {
  z-index: 400
}

.z500 {
  z-index: 500
}

.z600 {
  z-index: 600
}

.z700 {
  z-index: 700
}

.z800 {
  z-index: 800
}

.z900 {
  z-index: 900
}

.z999 {
  z-index: 999
}

.z1000 {
  z-index: 1000
}

.cur-pointer {
  cursor: pointer
}

.no-cur {
  cursor: not-allowed
}

.cur-grab {
  cursor: grab
}

.o-auto {
  overflow: auto
}

.hidden {
  visibility: hidden
}

.visible {
  visibility: visible
}

.o-hidden {
  overflow: hidden
}

.o-visible {
  overflow: visible
}

.bl {
  display: block
}

.inl {
  display: inline
}

.inbl {
  display: inline-block
}

.hide, .ukryj {
  display: none
}

.pokaz, .show {
  display: block
}

.hide-i, .ukryj-i {
  display: none !important
}

.pokaz-i, .show-i {
  display: block !important
}

.opa0 {
  opacity: 0
}

.opa1 {
  opacity: 1
}

.h0 {
  height: 0
}

.h100 {
  height: 100%;
}

.vh100 {
  height: 100vh
}

.mvh100 {
  min-height: 100vh
}

.mh100 {
  min-height: 100%
}

.h-auto {
  height: auto
}

.rel {
  position: relative
}

.abs {
  position: absolute
}

.fix {
  position: fixed
}

.static {
  position: static
}

.auto {
  margin: auto
}

.bottom0 {
  bottom: 0
}

.bottom10 {
  bottom: 10px
}

.bottom15 {
  bottom: 15px
}

.bottom20 {
  bottom: 20px
}

.bottom25 {
  bottom: 25px
}

.bottom30 {
  bottom: 30px
}

.bottom35 {
  bottom: 35px
}

.bottom40 {
  bottom: 40px
}

.bottom45 {
  bottom: 45px
}

.bottom50 {
  bottom: 50px
}

.bottom55 {
  bottom: 55px
}

.bottom60 {
  bottom: 60px
}

.bottom70 {
  bottom: 70px
}

.bottom80 {
  bottom: 80px
}

.bottom90 {
  bottom: 90px
}

.bottom100 {
  bottom: 100px
}

.bottom-10 {
  bottom: -10px
}

.bottom-15 {
  bottom: -15px
}

.bottom-20 {
  bottom: -20px
}

.bottom-25 {
  bottom: -25px
}

.bottom-30 {
  bottom: -30px
}

.bottom-35 {
  bottom: -35px
}

.bottom-40 {
  bottom: -40px
}

.bottom-45 {
  bottom: -45px
}

.bottom-50 {
  bottom: -50px
}

.bottom-55 {
  bottom: -55px
}

.bottom-60 {
  bottom: -60px
}

.bottom-70 {
  bottom: -70px
}

.bottom-80 {
  bottom: -80px
}

.bottom-90 {
  bottom: -90px
}

.bottom-100 {
  bottom: -100px
}

.left0 {
  left: 0
}

.left10 {
  left: 10px
}

.left15 {
  left: 15px
}

.left20 {
  left: 20px
}

.left25 {
  left: 25px
}

.left30 {
  left: 30px
}

.left35 {
  left: 35px
}

.left40 {
  left: 40px
}

.left45 {
  left: 45px
}

.left50 {
  left: 50px
}

.left55 {
  left: 55px
}

.left60 {
  left: 60px
}

.left70 {
  left: 70px
}

.left80 {
  left: 80px
}

.left90 {
  left: 90px
}

.left100 {
  left: 100px
}

.left-10 {
  left: -10px
}

.left-15 {
  left: -15px
}

.left-20 {
  left: -20px
}

.left-25 {
  left: -25px
}

.left-30 {
  left: -30px
}

.left-35 {
  left: -35px
}

.left-40 {
  left: -40px
}

.left-45 {
  left: -45px
}

.left-50 {
  left: -50px
}

.left-55 {
  left: -55px
}

.left-60 {
  left: -60px
}

.left-70 {
  left: -70px
}

.left-80 {
  left: -80px
}

.left-90 {
  left: -90px
}

.left-100 {
  left: -100px
}

.right0 {
  right: 0
}

.right10 {
  right: 10px
}

.right15 {
  right: 15px
}

.right20 {
  right: 20px
}

.right25 {
  right: 25px
}

.right30 {
  right: 30px
}

.right35 {
  right: 35px
}

.right40 {
  right: 40px
}

.right45 {
  right: 45px
}

.right50 {
  right: 50px
}

.right55 {
  right: 55px
}

.right60 {
  right: 60px
}

.right70 {
  right: 70px
}

.right80 {
  right: 80px
}

.right90 {
  right: 90px
}

.right100 {
  right: 100px
}

.right-10 {
  right: -10px
}

.right-15 {
  right: -15px
}

.right-20 {
  right: -20px
}

.right-25 {
  right: -25px
}

.right-30 {
  right: -30px
}

.right-35 {
  right: -35px
}

.right-40 {
  right: -40px
}

.right-45 {
  right: -45px
}

.right-50 {
  right: -50px
}

.right-55 {
  right: -55px
}

.right-60 {
  right: -60px
}

.right-70 {
  right: -70px
}

.right-80 {
  right: -80px
}

.right-90 {
  right: -90px
}

.right-100 {
  right: -100px
}

.top0 {
  top: 0
}

.top10 {
  top: 10px
}

.top15 {
  top: 15px
}

.top20 {
  top: 20px
}

.top25 {
  top: 25px
}

.top30 {
  top: 30px
}

.top35 {
  top: 35px
}

.top40 {
  top: 40px
}

.top45 {
  top: 45px
}

.top50 {
  top: 50px
}

.top55 {
  top: 55px
}

.top60 {
  top: 60px
}

.top70 {
  top: 70px
}

.top80 {
  top: 80px
}

.top90 {
  top: 90px
}

.top100 {
  top: 100px
}

.top-10 {
  top: -10px
}

.top-15 {
  top: -15px
}

.top-20 {
  top: -20px
}

.top-25 {
  top: -25px
}

.top-30 {
  top: -30px
}

.top-35 {
  top: -35px
}

.top-40 {
  top: -40px
}

.top-45 {
  top: -45px
}

.top-50 {
  top: -50px
}

.top-55 {
  top: -55px
}

.top-60 {
  top: -60px
}

.top-70 {
  top: -70px
}

.top-80 {
  top: -80px
}

.top-90 {
  top: -90px
}

.top-100 {
  top: -100px
}

.top-auto {
  top: auto
}

.bottom-auto {
  bottom: auto
}

.left-auto {
  left: auto
}

.right-auto {
  right: auto
}

.txt-center {
  text-align: center
}

.txt-left {
  text-align: left
}

.txt-right {
  text-align: right
}

.txt-justify {
  text-align: justify
}

.mb-10 {
  margin-bottom: -10px
}

.mb-15 {
  margin-bottom: -15px
}

.mb-20 {
  margin-bottom: -20px
}

.mb-25 {
  margin-bottom: -25px
}

.mb-30 {
  margin-bottom: -30px
}

.mb-35 {
  margin-bottom: -35px
}

.mb-40 {
  margin-bottom: -40px
}

.mb-45 {
  margin-bottom: -45px
}

.mb-50 {
  margin-bottom: -50px
}

.mb-55 {
  margin-bottom: -55px
}

.mb-60 {
  margin-bottom: -60px
}

.mb-70 {
  margin-bottom: -70px
}

.mb-80 {
  margin-bottom: -80px
}

.mb-90 {
  margin-bottom: -90px
}

.mb-100 {
  margin-bottom: -100px
}

.mb1 {
  margin-bottom: 1px
}

.mb2 {
  margin-bottom: 2px
}

.mb3 {
  margin-bottom: 3px
}

.mb4 {
  margin-bottom: 4px
}

.mb5 {
  margin-bottom: 5px
}

.mb6 {
  margin-bottom: 6px
}

.mb7 {
  margin-bottom: 7px
}

.mb8 {
  margin-bottom: 8px
}

.mb9 {
  margin-bottom: 9px
}

.mb10 {
  margin-bottom: 10px
}

.mb15 {
  margin-bottom: 15px
}

.mb20 {
  margin-bottom: 20px
}

.mb25 {
  margin-bottom: 25px
}

.mb30 {
  margin-bottom: 30px
}

.mb35 {
  margin-bottom: 35px
}

.mb40 {
  margin-bottom: 40px
}

.mb45 {
  margin-bottom: 45px
}

.mb50 {
  margin-bottom: 50px
}

.mb55 {
  margin-bottom: 55px
}

.mb60 {
  margin-bottom: 60px
}

.mb70 {
  margin-bottom: 70px
}

.mb80 {
  margin-bottom: 80px
}

.mb90 {
  margin-bottom: 90px
}

.mb100 {
  margin-bottom: 100px
}

.mt-10 {
  margin-top: -10px
}

.mt-15 {
  margin-top: -15px
}

.mt-20 {
  margin-top: -20px
}

.mt-25 {
  margin-top: -25px
}

.mt-30 {
  margin-top: -30px
}

.mt-35 {
  margin-top: -35px
}

.mt-40 {
  margin-top: -40px
}

.mt-45 {
  margin-top: -45px
}

.mt-50 {
  margin-top: -50px
}

.mt-55 {
  margin-top: -55px
}

.mt-60 {
  margin-top: -60px
}

.mt-70 {
  margin-top: -70px
}

.mt-80 {
  margin-top: -80px
}

.mt-90 {
  margin-top: -90px
}

.mt-100 {
  margin-top: -100px
}

.mt10 {
  margin-top: 10px
}

.mt15 {
  margin-top: 15px
}

.mt20 {
  margin-top: 20px
}

.mt25 {
  margin-top: 25px
}

.mt30 {
  margin-top: 30px
}

.mt35 {
  margin-top: 35px
}

.mt40 {
  margin-top: 40px
}

.mt45 {
  margin-top: 45px
}

.mt50 {
  margin-top: 50px
}

.mt55 {
  margin-top: 55px
}

.mt60 {
  margin-top: 60px
}

.mt70 {
  margin-top: 70px
}

.mt80 {
  margin-top: 80px
}

.mt90 {
  margin-top: 90px
}

.mt100 {
  margin-top: 100px
}

.ml-10 {
  margin-left: -10px
}

.ml-15 {
  margin-left: -15px
}

.ml-20 {
  margin-left: -20px
}

.ml-25 {
  margin-left: -25px
}

.ml-30 {
  margin-left: -30px
}

.ml-35 {
  margin-left: -35px
}

.ml-40 {
  margin-left: -40px
}

.ml-45 {
  margin-left: -45px
}

.ml-50 {
  margin-left: -50px
}

.ml-55 {
  margin-left: -55px
}

.ml-60 {
  margin-left: -60px
}

.ml-70 {
  margin-left: -70px
}

.ml-80 {
  margin-left: -80px
}

.ml-90 {
  margin-left: -90px
}

.ml-100 {
  margin-left: -100px
}

.ml10 {
  margin-left: 10px
}

.ml15 {
  margin-left: 15px
}

.ml20 {
  margin-left: 20px
}

.ml25 {
  margin-left: 25px
}

.ml30 {
  margin-left: 30px
}

.ml35 {
  margin-left: 35px
}

.ml40 {
  margin-left: 40px
}

.ml45 {
  margin-left: 45px
}

.ml50 {
  margin-left: 50px
}

.ml55 {
  margin-left: 55px
}

.ml60 {
  margin-left: 60px
}

.ml70 {
  margin-left: 70px
}

.ml80 {
  margin-left: 80px
}

.ml90 {
  margin-left: 90px
}

.ml100 {
  margin-left: 100px
}

.mr-10 {
  margin-right: -10px
}

.mr-15 {
  margin-right: -15px
}

.mr-20 {
  margin-right: -20px
}

.mr-25 {
  margin-right: -25px
}

.mr-30 {
  margin-right: -30px
}

.mr-35 {
  margin-right: -35px
}

.mr-40 {
  margin-right: -40px
}

.mr-45 {
  margin-right: -45px
}

.mr-50 {
  margin-right: -50px
}

.mr-55 {
  margin-right: -55px
}

.mr-60 {
  margin-right: -60px
}

.mr-70 {
  margin-right: -70px
}

.mr-80 {
  margin-right: -80px
}

.mr-90 {
  margin-right: -90px
}

.mr-100 {
  margin-right: -100px
}

.mr10 {
  margin-right: 10px
}

.mr15 {
  margin-right: 15px
}

.mr20 {
  margin-right: 20px
}

.mr25 {
  margin-right: 25px
}

.mr30 {
  margin-right: 30px
}

.mr35 {
  margin-right: 35px
}

.mr40 {
  margin-right: 40px
}

.mr45 {
  margin-right: 45px
}

.mr50 {
  margin-right: 50px
}

.mr55 {
  margin-right: 55px
}

.mr60 {
  margin-right: 60px
}

.mr70 {
  margin-right: 70px
}

.mr80 {
  margin-right: 80px
}

.mr90 {
  margin-right: 90px
}

.mr100 {
  margin-right: 100px
}

.m0 {
  margin: 0
}

.ml0 {
  margin-left: 0
}

.mr0 {
  margin-right: 0
}

.mt0 {
  margin-top: 0
}

.mb0 {
  margin-bottom: 0
}

.padt10 {
  padding-top: 10px
}

.padt15 {
  padding-top: 15px
}

.padt20 {
  padding-top: 20px
}

.padt25 {
  padding-top: 25px
}

.padt30 {
  padding-top: 30px
}

.padt35 {
  padding-top: 35px
}

.padt40 {
  padding-top: 40px
}

.padt45 {
  padding-top: 45px
}

.padt50 {
  padding-top: 50px
}

.padt60 {
  padding-top: 60px
}

.padt70 {
  padding-top: 70px
}

.padt80 {
  padding-top: 80px
}

.padt90 {
  padding-top: 90px
}

.padt100 {
  padding-top: 100px
}

.padb10 {
  padding-bottom: 10px
}

.padb15 {
  padding-bottom: 15px
}

.padb20 {
  padding-bottom: 20px
}

.padb25 {
  padding-bottom: 25px
}

.padb30 {
  padding-bottom: 30px
}

.padb35 {
  padding-bottom: 35px
}

.padb40 {
  padding-bottom: 40px
}

.padb45 {
  padding-bottom: 45px
}

.padb50 {
  padding-bottom: 50px
}

.padb60 {
  padding-bottom: 60px
}

.padb70 {
  padding-bottom: 70px
}

.padb80 {
  padding-bottom: 80px
}

.padb90 {
  padding-bottom: 90px
}

.padb100 {
  padding-bottom: 100px
}

.padl10 {
  padding-left: 10px
}

.padl15 {
  padding-left: 15px
}

.padl20 {
  padding-left: 20px
}

.padl25 {
  padding-left: 25px
}

.padl30 {
  padding-left: 30px
}

.padl35 {
  padding-left: 35px
}

.padl40 {
  padding-left: 40px
}

.padl45 {
  padding-left: 45px
}

.padl50 {
  padding-left: 50px
}

.padl60 {
  padding-left: 60px
}

.padl70 {
  padding-left: 70px
}

.padl80 {
  padding-left: 80px
}

.padl90 {
  padding-left: 90px
}

.padl100 {
  padding-left: 100px
}

.padr10 {
  padding-right: 10px
}

.padr15 {
  padding-right: 15px
}

.padr20 {
  padding-right: 20px
}

.padr25 {
  padding-right: 25px
}

.padr30 {
  padding-right: 30px
}

.padr35 {
  padding-right: 35px
}

.padr40 {
  padding-right: 40px
}

.padr45 {
  padding-right: 45px
}

.padr50 {
  padding-right: 50px
}

.padr60 {
  padding-right: 60px
}

.padr70 {
  padding-right: 70px
}

.padr80 {
  padding-right: 80px
}

.padr90 {
  padding-right: 90px
}

.padr100 {
  padding-right: 100px
}

.padl0 {
  padding-left: 0
}

.padr0 {
  padding-right: 0
}

.padt0 {
  padding-top: 0
}

.padb0 {
  padding-bottom: 0
}

@include max(480) {
  @for $i from 1 through $max_grid {
    .xs-grid#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
    .xs-gap#{$i} {
      grid-gap: nth($grid-margins, $i);
    }
    .xs-start#{$i} {
      grid-column-start: $i;
    }
    .xs-end#{$i} {
      grid-column-end: $i;
    }
  }
  .xs-hidden {
    visibility: hidden;
  }
  .xs-hide {
    display: none;
  }
  .xs-visible {
    visibility: visible;
  }
  .xs-show {
    display: block;
  }
  .xs-flex {
    display: flex;
  }
  .xs-wrap {
    flex-wrap: wrap;
  }
  .xs-nowrap {
    flex-wrap: nowrap;
  }
  .xs-col-12, .xs-row {
    width: grid(1, 1);
  }
  .xs-col-11 {
    width: grid(11, 12);
  }
  .xs-col-10 {
    width: grid(10, 12);
  }
  .xs-col-9 {
    width: grid(9, 12);
  }
  .xs-col-8 {
    width: grid(8, 12);
  }
  .xs-col-7 {
    width: grid(7, 12);
  }
  .xs-col-6 {
    width: grid(6, 12);
  }
  .xs-col-5 {
    width: grid(5, 12);
  }
  .xs-col-4 {
    width: calc(100% / 3);
  }
  .xs-col-3 {
    width: grid(3, 12)
  }
  .xs-col-2 {
    width: grid(2, 12);
  }
  .xs-col-1 {
    width: grid(1, 12);
  }
}