body {
  font-size: 18px;
  color: $def;
  font-weight: 400;
  font-family: $f-def;
}

main, section {
  width: grid(1, 1);
}

.container {
  max-width: 1280px;
  width: 100%;
}

.loaded {
  animation: to1 .3s ease-out forwards;
}

@keyframes to1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section {
  min-height: 100vh;
}

.shad {
  box-shadow: 4px 6px 20px rgba(0, 0, 0, .3);
}

.bg {
  &--white {
    background-color: $white;
  }
  &--black {
    background-color: $black;
  }
}

.hover {
  @include transition(opacity .3s ease-out);
  &:hover {
    opacity: .75;
  }
}