
body
  width: 100vw
  height: 100vh
  overflow: hidden
  display: flex
  justify-content: center
  align-items: center
  background-color: #222831
  font-family: sans-serif

.calculator
  width: 300px
  padding-bottom: 15px
  border-radius: 7px
  background-color: #000
  box-shadow: 5px 8px 8px -2px rgba(0, 0, 0, 0.61)
  z-index: 20

.display
  width: 100%
  height: 80px
  border: none
  box-sizing: border-box
  padding: 10px
  font-size: 2rem
  background: linear-gradient(90deg, #4b4b4b, #9b9b9b)
  color: #000
  text-align: right
  border-top-left-radius: 7px
  border-top-right-radius: 7px

.row
  display: flex
  justify-content: space-between

button
  width: 50px
  height: 50px
  border-radius: 50%
  border: none
  outline: none
  font-size: 1.5rem
  background-color: #222
  color: #fff
  margin: 10px

  &:hover
    cursor: pointer

.operator
  background: linear-gradient(90deg, #4b4b4b, #9b9b9b)
  color: #000
