.btn {
  padding: 15px 25px;
  color: $white;
  width: auto;
  display: inline-block;
  @extend .hover;
  font-weight: 700;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 4px;
  font-family: $f-def;
  line-height: 100%;
  @include transition(color .5s ease-out);

  &:after {
    //content: '\203A';
    font-size: 150%;
    position: relative;
    top: .08em;
    font-weight: 700;
    margin-left: 6px;
    @include transition(margin .3s ease-out);
  }
  /*&:hover {
    &:after {
      margin-left: 10px;
    }
  }*/
  &--left {
    &:after {
      content: '';
      margin-left: 0;
    }
    &:before {
      content: '\2039';
      font-size: 120%;
      font-weight: 700;
      position: relative;
      margin-top: .08em;
      margin-right: 6px;
      @include transition(margin .3s ease-out);
    }
    &:hover {
      &:before {
        margin-right: 10px;
      }
    }
  }
  &--arrow {
    background-color: $black;
  }
  &--arrowLeft {
    padding: 15px 25px;
    @include max(680) {
      left: 50%;
      margin-left: -68px;
    }
    &:after {
      content: '';
      margin: 0;
    }
    &:before {
      content: '\2039';
      color: $white;
      font-size: 300%;
      margin: 0;
      font-weight: 300;
    }
    &:hover {
      &:after {
        margin: 0;
      }
    }
  }
  &--arrowRight {
    padding: 15px 25px;
    @include max(680) {
      right: 50%;
      margin-right: -68px;
    }
    &:after {
      content: '\203A';
      font-size: 300%;
      color: $white;
      margin: 0;
      font-weight: 300;
    }
    &:hover {
      &:after {
        margin: 0;
      }
    }
  }
  &--rot {
    &:after {
      width: 12px;
      transform: rotate(-90deg);
    }
  }
  &--clean {
    //padding: 15px 25px;
    &:after {
      content: '';
      background: none;
    }
    &:before {
      content: '';
      background: none;
    }
  }
}