$f-def: 'Montserrat', sans-serif;

h1, h2 {
  font-size: 3.8em;
  line-height: 110%;
  font-weight: 700;
}
h3 {
  font-size: 3em;
  line-height: 120%;
}
h4 {
  font-size: 2.5em;
  line-height: 120%;
}
h5 {
  font-size: 1.65em;
  line-height: 120%;
  font-weight: 400;
}
h6 {
  font-size: 1.35em;
  line-height: 120%;
}
p {
  font-size: 1.25em;
  margin-top: 1em;
  line-height: 170%;
}
span {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
}
small {
  font-size: 90%;
}