@import '../helpers/mixins';

[data-grid] {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 0;
  //grid-auto-rows: minmax(grid(1, 1), grid(1,1));
  justify-content: start;
}

.grid:not([data-grid]) {
  z-index: 1;
  position: relative;
  &:before {
    content: '';
    z-index: -1;
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    visibility: hidden;
  }
  &--yt {
    &:before {
      padding-bottom: 60%;
    }
  }
  & > div {
    position: absolute;
    top: 0;
    left: 0;
    width: grid(1, 1);
    height: grid(1, 1);
  }
}