@mixin transition($args...) {
  transition: $args;
}

@mixin animation($args...) {
  animation: $args;
}

@mixin overlay($color: #000, $opacity: 0.6) {
  background-color: rgba($color, $opacity);
}

@function grid($itemUnits, $gridUnits:7) {
  // @return 100% * ( $itemUnits / $gridUnits );
  $precize: 10000; // 100.00%
  $tmp: floor(( $itemUnits / $gridUnits ) * $precize);
  @if ($tmp % 2 != 0) {
    @return percentage(( $tmp - 1 ) / $precize);
  }
  @return percentage($tmp / $precize);
}

@mixin max($size) {
  @media only screen and (max-width: $size + px) {
    @content;
  }
}

@mixin min($size) {
  @media only screen and (min-width: $size + px) {
    @content;
  }
}

@mixin gradientY($args...) {
  background: linear-gradient(to bottom, $args);
}

@mixin gradientX($args...) {
  background: linear-gradient(to right, $args);
}

@mixin radial($args...) {
  background: radial-gradient($args);
}

@mixin border($size, $color) {
  box-shadow: inset 0 0 0 $size + px $color;
}

@mixin triangle($size: '40px', $color: $black, $dir: 'up', $height: '5') {
  width: 0;
  height: 0;
  border: $size solid transparent;
  @if $dir == 'down' {
    border-top: $size / $height solid $color;
  }
  @if $dir == 'up' {
    border-bottom: $size / $height solid $color;
  }
  @if $dir == 'left' {
    border-right: $size / $height solid $color;
  }
  @if $dir == 'right' {
    border-left: $size / $height solid $color;
  }
}