/*input, table, ol, ul, q, address, picture, template, li, footer, figure, figcaption, header, nav, audio, progress, body, tr, th, td, aside, select, form, div, p, span, small, i, em, strong, article, header, main, section, blockquote, video, svg, img, a, button, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: 0;
  outline: 0;
  //font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;

  !*&:focus::-webkit-input-placeholder {
    opacity: 0
  }
  &:focus::-moz-placeholder {
    opacity: 0
  }*!
}*/

input, table, ol, ul, q, address, picture, li, footer, figure, figcaption, header, nav, audio, progress, body, tr, th, td, aside, select, form, div, p, span, small, i, em, strong, article, header, main, section, blockquote, video, svg, img, a, button, h1, h2, h3, h4, h5, h6 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

video {
  object-fit: cover;
}

address {
  font-style: normal;
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none;
  &:before {
    content: '\201E';
  }
  &:after {
    content: '\201D';
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

li, li a, a {
  color: inherit;
  font-size: inherit;
  line-height: inherit
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

a {
  text-decoration: none;
  background-color: transparent;
  &:active, &:hover {
    outline-width: 0;
  }
}

sub, sup {
  font-size: 70%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -0.4em;
}

/*svg:not(:root) {
  overflow: hidden;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .55;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}*/

img {
  user-select: none;
  display: block;
}