@charset "UTF-8";
/*!
 * modweb v4.2
 * 2018 ® All rights reserved - Modweb Pawel Kolodziejczak company
 * web: www.modweb.pl;
 *
 */
/*input, table, ol, ul, q, address, picture, template, li, footer, figure, figcaption, header, nav, audio, progress, body, tr, th, td, aside, select, form, div, p, span, small, i, em, strong, article, header, main, section, blockquote, video, svg, img, a, button, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: 0;
  outline: 0;
  //font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;

  !*&:focus::-webkit-input-placeholder {
    opacity: 0
  }
  &:focus::-moz-placeholder {
    opacity: 0
  }*!
}*/
input, table, ol, ul, q, address, picture, li, footer, figure, figcaption, header, nav, audio, progress, body, tr, th, td, aside, select, form, div, p, span, small, i, em, strong, article, header, main, section, blockquote, video, svg, img, a, button, h1, h2, h3, h4, h5, h6 {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

video {
  object-fit: cover; }

address {
  font-style: normal; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, q:before {
    content: '\201E'; }
  blockquote:after, q:after {
    content: '\201D'; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

li, li a, a {
  color: inherit;
  font-size: inherit;
  line-height: inherit; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

a {
  text-decoration: none;
  background-color: transparent; }
  a:active, a:hover {
    outline-width: 0; }

sub, sup {
  font-size: 70%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -0.4em; }

/*svg:not(:root) {
  overflow: hidden;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .55;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}*/
img {
  user-select: none;
  display: block; }

h1, h2 {
  font-size: 3.8em;
  line-height: 110%;
  font-weight: 700; }

h3 {
  font-size: 3em;
  line-height: 120%; }

h4 {
  font-size: 2.5em;
  line-height: 120%; }

h5 {
  font-size: 1.65em;
  line-height: 120%;
  font-weight: 400; }

h6 {
  font-size: 1.35em;
  line-height: 120%; }

p {
  font-size: 1.25em;
  margin-top: 1em;
  line-height: 170%; }

span {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit; }

small {
  font-size: 90%; }

.btn {
  padding: 15px 25px;
  color: #fff;
  width: auto;
  display: inline-block;
  font-weight: 700;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  line-height: 100%;
  transition: color 0.5s ease-out;
  /*&:hover {
    &:after {
      margin-left: 10px;
    }
  }*/ }
  .btn:after {
    font-size: 150%;
    position: relative;
    top: .08em;
    font-weight: 700;
    margin-left: 6px;
    transition: margin 0.3s ease-out; }
  .btn--left:after {
    content: '';
    margin-left: 0; }
  .btn--left:before {
    content: '\2039';
    font-size: 120%;
    font-weight: 700;
    position: relative;
    margin-top: .08em;
    margin-right: 6px;
    transition: margin 0.3s ease-out; }
  .btn--left:hover:before {
    margin-right: 10px; }
  .btn--arrow {
    background-color: #000; }
  .btn--arrowLeft {
    padding: 15px 25px; }
    @media only screen and (max-width: 680px) {
      .btn--arrowLeft {
        left: 50%;
        margin-left: -68px; } }
    .btn--arrowLeft:after {
      content: '';
      margin: 0; }
    .btn--arrowLeft:before {
      content: '\2039';
      color: #fff;
      font-size: 300%;
      margin: 0;
      font-weight: 300; }
    .btn--arrowLeft:hover:after {
      margin: 0; }
  .btn--arrowRight {
    padding: 15px 25px; }
    @media only screen and (max-width: 680px) {
      .btn--arrowRight {
        right: 50%;
        margin-right: -68px; } }
    .btn--arrowRight:after {
      content: '\203A';
      font-size: 300%;
      color: #fff;
      margin: 0;
      font-weight: 300; }
    .btn--arrowRight:hover:after {
      margin: 0; }
  .btn--rot:after {
    width: 12px;
    transform: rotate(-90deg); }
  .btn--clean:after {
    content: '';
    background: none; }
  .btn--clean:before {
    content: '';
    background: none; }

[data-grid] {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 0;
  justify-content: start; }

.grid:not([data-grid]) {
  z-index: 1;
  position: relative; }
  .grid:not([data-grid]):before {
    content: '';
    z-index: -1;
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    visibility: hidden; }
  .grid:not([data-grid])--yt:before {
    padding-bottom: 60%; }
  .grid:not([data-grid]) > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222831;
  font-family: sans-serif; }

.calculator {
  width: 300px;
  padding-bottom: 15px;
  border-radius: 7px;
  background-color: #000;
  box-shadow: 5px 8px 8px -2px rgba(0, 0, 0, 0.61);
  z-index: 20; }

.display {
  width: 100%;
  height: 80px;
  border: none;
  box-sizing: border-box;
  padding: 10px;
  font-size: 2rem;
  background: linear-gradient(90deg, #4b4b4b, #9b9b9b);
  color: #000;
  text-align: right;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px; }

.row {
  display: flex;
  justify-content: space-between; }

button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  background-color: #222;
  color: #fff;
  margin: 10px; }
  button:hover {
    cursor: pointer; }

.operator {
  background: linear-gradient(90deg, #4b4b4b, #9b9b9b);
  color: #000; }

.pyro {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0; }

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  to {
    box-shadow: 38px -373.66667px #00c4ff, 195px -142.66667px #ffd900, 95px -281.66667px #ff000d, -194px -335.66667px #fb00ff, -6px -6.66667px #ff9500, -31px -177.66667px #00d0ff, 125px -293.66667px #00f7ff, -79px -86.66667px #9d00ff, -123px 13.33333px #00ff84, -7px 71.33333px #6f00ff, 8px -386.66667px #fffb00, 247px -199.66667px #ff9100, 249px -396.66667px #ff00dd, -126px -259.66667px #ff00f7, 249px -89.66667px #00fbff, 250px 77.33333px #00e6ff, 173px -351.66667px #b3ff00, 60px -88.66667px #ff004d, 192px -222.66667px #73ff00, -209px -329.66667px #ff0040, -206px 18.33333px #ff00bb, 232px -366.66667px darkorange, -151px 7.33333px #ff9900, 217px -249.66667px #7300ff, -182px 83.33333px #ff5900, -89px -76.66667px #00f2ff, 65px -363.66667px #00aaff, -197px -370.66667px #ffa600, -214px -362.66667px #ff4000, -126px -77.66667px #ff00c8, -32px -2.66667px #ff9100, 45px 12.33333px #44ff00, 20px 25.33333px #ff0d00, 105px -41.66667px #00ff3c, 184px -146.66667px #22ff00, 26px -341.66667px #0066ff, 157px -100.66667px #00ff7b, 100px 57.33333px #0066ff, 156px -140.66667px #00ffbf, 63px -152.66667px #00ffdd, 199px 77.33333px #00ffc8, 75px -176.66667px #00ff5e, 246px -405.66667px #ff0059, -72px -66.66667px #00ff22, -244px 69.33333px #ff4400, -130px -226.66667px #00ff5e, -204px -6.66667px #4400ff, -248px -41.66667px #ffd000, -201px -147.66667px #00c4ff, 10px -371.66667px #d500ff, -82px -15.66667px #ff00aa; } }

@-moz-keyframes bang {
  to {
    box-shadow: 38px -373.66667px #00c4ff, 195px -142.66667px #ffd900, 95px -281.66667px #ff000d, -194px -335.66667px #fb00ff, -6px -6.66667px #ff9500, -31px -177.66667px #00d0ff, 125px -293.66667px #00f7ff, -79px -86.66667px #9d00ff, -123px 13.33333px #00ff84, -7px 71.33333px #6f00ff, 8px -386.66667px #fffb00, 247px -199.66667px #ff9100, 249px -396.66667px #ff00dd, -126px -259.66667px #ff00f7, 249px -89.66667px #00fbff, 250px 77.33333px #00e6ff, 173px -351.66667px #b3ff00, 60px -88.66667px #ff004d, 192px -222.66667px #73ff00, -209px -329.66667px #ff0040, -206px 18.33333px #ff00bb, 232px -366.66667px darkorange, -151px 7.33333px #ff9900, 217px -249.66667px #7300ff, -182px 83.33333px #ff5900, -89px -76.66667px #00f2ff, 65px -363.66667px #00aaff, -197px -370.66667px #ffa600, -214px -362.66667px #ff4000, -126px -77.66667px #ff00c8, -32px -2.66667px #ff9100, 45px 12.33333px #44ff00, 20px 25.33333px #ff0d00, 105px -41.66667px #00ff3c, 184px -146.66667px #22ff00, 26px -341.66667px #0066ff, 157px -100.66667px #00ff7b, 100px 57.33333px #0066ff, 156px -140.66667px #00ffbf, 63px -152.66667px #00ffdd, 199px 77.33333px #00ffc8, 75px -176.66667px #00ff5e, 246px -405.66667px #ff0059, -72px -66.66667px #00ff22, -244px 69.33333px #ff4400, -130px -226.66667px #00ff5e, -204px -6.66667px #4400ff, -248px -41.66667px #ffd000, -201px -147.66667px #00c4ff, 10px -371.66667px #d500ff, -82px -15.66667px #ff00aa; } }

@-o-keyframes bang {
  to {
    box-shadow: 38px -373.66667px #00c4ff, 195px -142.66667px #ffd900, 95px -281.66667px #ff000d, -194px -335.66667px #fb00ff, -6px -6.66667px #ff9500, -31px -177.66667px #00d0ff, 125px -293.66667px #00f7ff, -79px -86.66667px #9d00ff, -123px 13.33333px #00ff84, -7px 71.33333px #6f00ff, 8px -386.66667px #fffb00, 247px -199.66667px #ff9100, 249px -396.66667px #ff00dd, -126px -259.66667px #ff00f7, 249px -89.66667px #00fbff, 250px 77.33333px #00e6ff, 173px -351.66667px #b3ff00, 60px -88.66667px #ff004d, 192px -222.66667px #73ff00, -209px -329.66667px #ff0040, -206px 18.33333px #ff00bb, 232px -366.66667px darkorange, -151px 7.33333px #ff9900, 217px -249.66667px #7300ff, -182px 83.33333px #ff5900, -89px -76.66667px #00f2ff, 65px -363.66667px #00aaff, -197px -370.66667px #ffa600, -214px -362.66667px #ff4000, -126px -77.66667px #ff00c8, -32px -2.66667px #ff9100, 45px 12.33333px #44ff00, 20px 25.33333px #ff0d00, 105px -41.66667px #00ff3c, 184px -146.66667px #22ff00, 26px -341.66667px #0066ff, 157px -100.66667px #00ff7b, 100px 57.33333px #0066ff, 156px -140.66667px #00ffbf, 63px -152.66667px #00ffdd, 199px 77.33333px #00ffc8, 75px -176.66667px #00ff5e, 246px -405.66667px #ff0059, -72px -66.66667px #00ff22, -244px 69.33333px #ff4400, -130px -226.66667px #00ff5e, -204px -6.66667px #4400ff, -248px -41.66667px #ffd000, -201px -147.66667px #00c4ff, 10px -371.66667px #d500ff, -82px -15.66667px #ff00aa; } }

@-ms-keyframes bang {
  to {
    box-shadow: 38px -373.66667px #00c4ff, 195px -142.66667px #ffd900, 95px -281.66667px #ff000d, -194px -335.66667px #fb00ff, -6px -6.66667px #ff9500, -31px -177.66667px #00d0ff, 125px -293.66667px #00f7ff, -79px -86.66667px #9d00ff, -123px 13.33333px #00ff84, -7px 71.33333px #6f00ff, 8px -386.66667px #fffb00, 247px -199.66667px #ff9100, 249px -396.66667px #ff00dd, -126px -259.66667px #ff00f7, 249px -89.66667px #00fbff, 250px 77.33333px #00e6ff, 173px -351.66667px #b3ff00, 60px -88.66667px #ff004d, 192px -222.66667px #73ff00, -209px -329.66667px #ff0040, -206px 18.33333px #ff00bb, 232px -366.66667px darkorange, -151px 7.33333px #ff9900, 217px -249.66667px #7300ff, -182px 83.33333px #ff5900, -89px -76.66667px #00f2ff, 65px -363.66667px #00aaff, -197px -370.66667px #ffa600, -214px -362.66667px #ff4000, -126px -77.66667px #ff00c8, -32px -2.66667px #ff9100, 45px 12.33333px #44ff00, 20px 25.33333px #ff0d00, 105px -41.66667px #00ff3c, 184px -146.66667px #22ff00, 26px -341.66667px #0066ff, 157px -100.66667px #00ff7b, 100px 57.33333px #0066ff, 156px -140.66667px #00ffbf, 63px -152.66667px #00ffdd, 199px 77.33333px #00ffc8, 75px -176.66667px #00ff5e, 246px -405.66667px #ff0059, -72px -66.66667px #00ff22, -244px 69.33333px #ff4400, -130px -226.66667px #00ff5e, -204px -6.66667px #4400ff, -248px -41.66667px #ffd000, -201px -147.66667px #00c4ff, 10px -371.66667px #d500ff, -82px -15.66667px #ff00aa; } }

@keyframes bang {
  to {
    box-shadow: 38px -373.66667px #00c4ff, 195px -142.66667px #ffd900, 95px -281.66667px #ff000d, -194px -335.66667px #fb00ff, -6px -6.66667px #ff9500, -31px -177.66667px #00d0ff, 125px -293.66667px #00f7ff, -79px -86.66667px #9d00ff, -123px 13.33333px #00ff84, -7px 71.33333px #6f00ff, 8px -386.66667px #fffb00, 247px -199.66667px #ff9100, 249px -396.66667px #ff00dd, -126px -259.66667px #ff00f7, 249px -89.66667px #00fbff, 250px 77.33333px #00e6ff, 173px -351.66667px #b3ff00, 60px -88.66667px #ff004d, 192px -222.66667px #73ff00, -209px -329.66667px #ff0040, -206px 18.33333px #ff00bb, 232px -366.66667px darkorange, -151px 7.33333px #ff9900, 217px -249.66667px #7300ff, -182px 83.33333px #ff5900, -89px -76.66667px #00f2ff, 65px -363.66667px #00aaff, -197px -370.66667px #ffa600, -214px -362.66667px #ff4000, -126px -77.66667px #ff00c8, -32px -2.66667px #ff9100, 45px 12.33333px #44ff00, 20px 25.33333px #ff0d00, 105px -41.66667px #00ff3c, 184px -146.66667px #22ff00, 26px -341.66667px #0066ff, 157px -100.66667px #00ff7b, 100px 57.33333px #0066ff, 156px -140.66667px #00ffbf, 63px -152.66667px #00ffdd, 199px 77.33333px #00ffc8, 75px -176.66667px #00ff5e, 246px -405.66667px #ff0059, -72px -66.66667px #00ff22, -244px 69.33333px #ff4400, -130px -226.66667px #00ff5e, -204px -6.66667px #4400ff, -248px -41.66667px #ffd000, -201px -147.66667px #00c4ff, 10px -371.66667px #d500ff, -82px -15.66667px #ff00aa; } }

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

body {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  font-family: "Montserrat", sans-serif; }

main, section {
  width: 100%; }

.container {
  max-width: 1280px;
  width: 100%; }

.loaded {
  animation: to1 .3s ease-out forwards; }

@keyframes to1 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.section {
  min-height: 100vh; }

.shad {
  box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.3); }

.bg--white {
  background-color: #fff; }

.bg--black {
  background-color: #000; }

.hover, .btn {
  transition: opacity 0.3s ease-out; }
  .hover:hover, .btn:hover {
    opacity: .75; }

.grid1 {
  grid-template-columns: repeat(1, 1fr); }

.gap1 {
  grid-gap: 0.25em; }

.start1 {
  grid-column-start: 1; }

.end1 {
  grid-column-end: 1; }

.grid2 {
  grid-template-columns: repeat(2, 1fr); }

.gap2 {
  grid-gap: 0.5em; }

.start2 {
  grid-column-start: 2; }

.end2 {
  grid-column-end: 2; }

.grid3 {
  grid-template-columns: repeat(3, 1fr); }

.gap3 {
  grid-gap: 0.75em; }

.start3 {
  grid-column-start: 3; }

.end3 {
  grid-column-end: 3; }

.grid4 {
  grid-template-columns: repeat(4, 1fr); }

.gap4 {
  grid-gap: 1em; }

.start4 {
  grid-column-start: 4; }

.end4 {
  grid-column-end: 4; }

.grid5 {
  grid-template-columns: repeat(5, 1fr); }

.gap5 {
  grid-gap: 1.25em; }

.start5 {
  grid-column-start: 5; }

.end5 {
  grid-column-end: 5; }

.grid6 {
  grid-template-columns: repeat(6, 1fr); }

.gap6 {
  grid-gap: 1.5em; }

.start6 {
  grid-column-start: 6; }

.end6 {
  grid-column-end: 6; }

.col-12, .row {
  width: 100%; }

.col-11 {
  width: 91.66%; }

.col-10 {
  width: 83.32%; }

.col-9 {
  width: 75%; }

.col-8 {
  width: 66.66%; }

.col-7 {
  width: 58.32%; }

.col-6 {
  width: 50%; }

.col-5 {
  width: 41.66%; }

.col-4 {
  width: calc(100% / 3); }

.col-3 {
  width: 25%; }

.col-2 {
  width: 16.66%; }

.col-1 {
  width: 8.32%; }

.flex {
  display: flex; }

.order1 {
  order: 1; }

.order2 {
  order: 2; }

.order3 {
  order: 3; }

.order4 {
  order: 4; }

.order5 {
  order: 5; }

.flex-wrap {
  flex-wrap: wrap; }

.nowrap {
  flex-wrap: nowrap; }

.dir-row {
  flex-direction: row; }

.dir-row-rev {
  flex-direction: row-reverse; }

.dir-col {
  flex-direction: column; }

.dir-col-rev {
  flex-direction: column-reverse; }

.align-center {
  align-items: center; }

.align-start {
  align-items: flex-start; }

.align-end {
  align-items: flex-end; }

.align-stretch {
  align-items: stretch; }

.justify-start {
  justify-content: flex-start; }

.justify-end {
  justify-content: flex-end; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

.justify-around {
  justify-content: space-around; }

.content-start {
  align-content: flex-start; }

.content-end {
  align-content: flex-end; }

.content-center {
  align-content: center; }

.content-stretch {
  align-content: stretch; }

.content-between {
  align-content: space-between; }

.content-around {
  align-content: space-around; }

.fw300, .lig {
  font-weight: 300; }

.fw400, .reg {
  font-weight: 400; }

.bold, .fw700 {
  font-weight: 700; }

.fw800, .xbold {
  font-weight: 800; }

.oblique {
  font-style: oblique; }

.italic {
  font-style: italic; }

.normal {
  font-style: normal; }

.up {
  text-transform: uppercase; }

.low {
  text-transform: lowercase; }

.cap {
  text-transform: capitalize; }

.no-bg {
  background: none; }

.w-auto {
  width: auto; }

.z-1 {
  z-index: -1; }

.z0 {
  z-index: 0; }

.z1 {
  z-index: 1; }

.z100 {
  z-index: 100; }

.z200 {
  z-index: 200; }

.z300 {
  z-index: 300; }

.z400 {
  z-index: 400; }

.z500 {
  z-index: 500; }

.z600 {
  z-index: 600; }

.z700 {
  z-index: 700; }

.z800 {
  z-index: 800; }

.z900 {
  z-index: 900; }

.z999 {
  z-index: 999; }

.z1000 {
  z-index: 1000; }

.cur-pointer {
  cursor: pointer; }

.no-cur {
  cursor: not-allowed; }

.cur-grab {
  cursor: grab; }

.o-auto {
  overflow: auto; }

.hidden {
  visibility: hidden; }

.visible {
  visibility: visible; }

.o-hidden {
  overflow: hidden; }

.o-visible {
  overflow: visible; }

.bl {
  display: block; }

.inl {
  display: inline; }

.inbl {
  display: inline-block; }

.hide, .ukryj {
  display: none; }

.pokaz, .show {
  display: block; }

.hide-i, .ukryj-i {
  display: none !important; }

.pokaz-i, .show-i {
  display: block !important; }

.opa0 {
  opacity: 0; }

.opa1 {
  opacity: 1; }

.h0 {
  height: 0; }

.h100 {
  height: 100%; }

.vh100 {
  height: 100vh; }

.mvh100 {
  min-height: 100vh; }

.mh100 {
  min-height: 100%; }

.h-auto {
  height: auto; }

.rel {
  position: relative; }

.abs {
  position: absolute; }

.fix {
  position: fixed; }

.static {
  position: static; }

.auto {
  margin: auto; }

.bottom0 {
  bottom: 0; }

.bottom10 {
  bottom: 10px; }

.bottom15 {
  bottom: 15px; }

.bottom20 {
  bottom: 20px; }

.bottom25 {
  bottom: 25px; }

.bottom30 {
  bottom: 30px; }

.bottom35 {
  bottom: 35px; }

.bottom40 {
  bottom: 40px; }

.bottom45 {
  bottom: 45px; }

.bottom50 {
  bottom: 50px; }

.bottom55 {
  bottom: 55px; }

.bottom60 {
  bottom: 60px; }

.bottom70 {
  bottom: 70px; }

.bottom80 {
  bottom: 80px; }

.bottom90 {
  bottom: 90px; }

.bottom100 {
  bottom: 100px; }

.bottom-10 {
  bottom: -10px; }

.bottom-15 {
  bottom: -15px; }

.bottom-20 {
  bottom: -20px; }

.bottom-25 {
  bottom: -25px; }

.bottom-30 {
  bottom: -30px; }

.bottom-35 {
  bottom: -35px; }

.bottom-40 {
  bottom: -40px; }

.bottom-45 {
  bottom: -45px; }

.bottom-50 {
  bottom: -50px; }

.bottom-55 {
  bottom: -55px; }

.bottom-60 {
  bottom: -60px; }

.bottom-70 {
  bottom: -70px; }

.bottom-80 {
  bottom: -80px; }

.bottom-90 {
  bottom: -90px; }

.bottom-100 {
  bottom: -100px; }

.left0 {
  left: 0; }

.left10 {
  left: 10px; }

.left15 {
  left: 15px; }

.left20 {
  left: 20px; }

.left25 {
  left: 25px; }

.left30 {
  left: 30px; }

.left35 {
  left: 35px; }

.left40 {
  left: 40px; }

.left45 {
  left: 45px; }

.left50 {
  left: 50px; }

.left55 {
  left: 55px; }

.left60 {
  left: 60px; }

.left70 {
  left: 70px; }

.left80 {
  left: 80px; }

.left90 {
  left: 90px; }

.left100 {
  left: 100px; }

.left-10 {
  left: -10px; }

.left-15 {
  left: -15px; }

.left-20 {
  left: -20px; }

.left-25 {
  left: -25px; }

.left-30 {
  left: -30px; }

.left-35 {
  left: -35px; }

.left-40 {
  left: -40px; }

.left-45 {
  left: -45px; }

.left-50 {
  left: -50px; }

.left-55 {
  left: -55px; }

.left-60 {
  left: -60px; }

.left-70 {
  left: -70px; }

.left-80 {
  left: -80px; }

.left-90 {
  left: -90px; }

.left-100 {
  left: -100px; }

.right0 {
  right: 0; }

.right10 {
  right: 10px; }

.right15 {
  right: 15px; }

.right20 {
  right: 20px; }

.right25 {
  right: 25px; }

.right30 {
  right: 30px; }

.right35 {
  right: 35px; }

.right40 {
  right: 40px; }

.right45 {
  right: 45px; }

.right50 {
  right: 50px; }

.right55 {
  right: 55px; }

.right60 {
  right: 60px; }

.right70 {
  right: 70px; }

.right80 {
  right: 80px; }

.right90 {
  right: 90px; }

.right100 {
  right: 100px; }

.right-10 {
  right: -10px; }

.right-15 {
  right: -15px; }

.right-20 {
  right: -20px; }

.right-25 {
  right: -25px; }

.right-30 {
  right: -30px; }

.right-35 {
  right: -35px; }

.right-40 {
  right: -40px; }

.right-45 {
  right: -45px; }

.right-50 {
  right: -50px; }

.right-55 {
  right: -55px; }

.right-60 {
  right: -60px; }

.right-70 {
  right: -70px; }

.right-80 {
  right: -80px; }

.right-90 {
  right: -90px; }

.right-100 {
  right: -100px; }

.top0 {
  top: 0; }

.top10 {
  top: 10px; }

.top15 {
  top: 15px; }

.top20 {
  top: 20px; }

.top25 {
  top: 25px; }

.top30 {
  top: 30px; }

.top35 {
  top: 35px; }

.top40 {
  top: 40px; }

.top45 {
  top: 45px; }

.top50 {
  top: 50px; }

.top55 {
  top: 55px; }

.top60 {
  top: 60px; }

.top70 {
  top: 70px; }

.top80 {
  top: 80px; }

.top90 {
  top: 90px; }

.top100 {
  top: 100px; }

.top-10 {
  top: -10px; }

.top-15 {
  top: -15px; }

.top-20 {
  top: -20px; }

.top-25 {
  top: -25px; }

.top-30 {
  top: -30px; }

.top-35 {
  top: -35px; }

.top-40 {
  top: -40px; }

.top-45 {
  top: -45px; }

.top-50 {
  top: -50px; }

.top-55 {
  top: -55px; }

.top-60 {
  top: -60px; }

.top-70 {
  top: -70px; }

.top-80 {
  top: -80px; }

.top-90 {
  top: -90px; }

.top-100 {
  top: -100px; }

.top-auto {
  top: auto; }

.bottom-auto {
  bottom: auto; }

.left-auto {
  left: auto; }

.right-auto {
  right: auto; }

.txt-center {
  text-align: center; }

.txt-left {
  text-align: left; }

.txt-right {
  text-align: right; }

.txt-justify {
  text-align: justify; }

.mb-10 {
  margin-bottom: -10px; }

.mb-15 {
  margin-bottom: -15px; }

.mb-20 {
  margin-bottom: -20px; }

.mb-25 {
  margin-bottom: -25px; }

.mb-30 {
  margin-bottom: -30px; }

.mb-35 {
  margin-bottom: -35px; }

.mb-40 {
  margin-bottom: -40px; }

.mb-45 {
  margin-bottom: -45px; }

.mb-50 {
  margin-bottom: -50px; }

.mb-55 {
  margin-bottom: -55px; }

.mb-60 {
  margin-bottom: -60px; }

.mb-70 {
  margin-bottom: -70px; }

.mb-80 {
  margin-bottom: -80px; }

.mb-90 {
  margin-bottom: -90px; }

.mb-100 {
  margin-bottom: -100px; }

.mb1 {
  margin-bottom: 1px; }

.mb2 {
  margin-bottom: 2px; }

.mb3 {
  margin-bottom: 3px; }

.mb4 {
  margin-bottom: 4px; }

.mb5 {
  margin-bottom: 5px; }

.mb6 {
  margin-bottom: 6px; }

.mb7 {
  margin-bottom: 7px; }

.mb8 {
  margin-bottom: 8px; }

.mb9 {
  margin-bottom: 9px; }

.mb10 {
  margin-bottom: 10px; }

.mb15 {
  margin-bottom: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb25 {
  margin-bottom: 25px; }

.mb30 {
  margin-bottom: 30px; }

.mb35 {
  margin-bottom: 35px; }

.mb40 {
  margin-bottom: 40px; }

.mb45 {
  margin-bottom: 45px; }

.mb50 {
  margin-bottom: 50px; }

.mb55 {
  margin-bottom: 55px; }

.mb60 {
  margin-bottom: 60px; }

.mb70 {
  margin-bottom: 70px; }

.mb80 {
  margin-bottom: 80px; }

.mb90 {
  margin-bottom: 90px; }

.mb100 {
  margin-bottom: 100px; }

.mt-10 {
  margin-top: -10px; }

.mt-15 {
  margin-top: -15px; }

.mt-20 {
  margin-top: -20px; }

.mt-25 {
  margin-top: -25px; }

.mt-30 {
  margin-top: -30px; }

.mt-35 {
  margin-top: -35px; }

.mt-40 {
  margin-top: -40px; }

.mt-45 {
  margin-top: -45px; }

.mt-50 {
  margin-top: -50px; }

.mt-55 {
  margin-top: -55px; }

.mt-60 {
  margin-top: -60px; }

.mt-70 {
  margin-top: -70px; }

.mt-80 {
  margin-top: -80px; }

.mt-90 {
  margin-top: -90px; }

.mt-100 {
  margin-top: -100px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

.mt20 {
  margin-top: 20px; }

.mt25 {
  margin-top: 25px; }

.mt30 {
  margin-top: 30px; }

.mt35 {
  margin-top: 35px; }

.mt40 {
  margin-top: 40px; }

.mt45 {
  margin-top: 45px; }

.mt50 {
  margin-top: 50px; }

.mt55 {
  margin-top: 55px; }

.mt60 {
  margin-top: 60px; }

.mt70 {
  margin-top: 70px; }

.mt80 {
  margin-top: 80px; }

.mt90 {
  margin-top: 90px; }

.mt100 {
  margin-top: 100px; }

.ml-10 {
  margin-left: -10px; }

.ml-15 {
  margin-left: -15px; }

.ml-20 {
  margin-left: -20px; }

.ml-25 {
  margin-left: -25px; }

.ml-30 {
  margin-left: -30px; }

.ml-35 {
  margin-left: -35px; }

.ml-40 {
  margin-left: -40px; }

.ml-45 {
  margin-left: -45px; }

.ml-50 {
  margin-left: -50px; }

.ml-55 {
  margin-left: -55px; }

.ml-60 {
  margin-left: -60px; }

.ml-70 {
  margin-left: -70px; }

.ml-80 {
  margin-left: -80px; }

.ml-90 {
  margin-left: -90px; }

.ml-100 {
  margin-left: -100px; }

.ml10 {
  margin-left: 10px; }

.ml15 {
  margin-left: 15px; }

.ml20 {
  margin-left: 20px; }

.ml25 {
  margin-left: 25px; }

.ml30 {
  margin-left: 30px; }

.ml35 {
  margin-left: 35px; }

.ml40 {
  margin-left: 40px; }

.ml45 {
  margin-left: 45px; }

.ml50 {
  margin-left: 50px; }

.ml55 {
  margin-left: 55px; }

.ml60 {
  margin-left: 60px; }

.ml70 {
  margin-left: 70px; }

.ml80 {
  margin-left: 80px; }

.ml90 {
  margin-left: 90px; }

.ml100 {
  margin-left: 100px; }

.mr-10 {
  margin-right: -10px; }

.mr-15 {
  margin-right: -15px; }

.mr-20 {
  margin-right: -20px; }

.mr-25 {
  margin-right: -25px; }

.mr-30 {
  margin-right: -30px; }

.mr-35 {
  margin-right: -35px; }

.mr-40 {
  margin-right: -40px; }

.mr-45 {
  margin-right: -45px; }

.mr-50 {
  margin-right: -50px; }

.mr-55 {
  margin-right: -55px; }

.mr-60 {
  margin-right: -60px; }

.mr-70 {
  margin-right: -70px; }

.mr-80 {
  margin-right: -80px; }

.mr-90 {
  margin-right: -90px; }

.mr-100 {
  margin-right: -100px; }

.mr10 {
  margin-right: 10px; }

.mr15 {
  margin-right: 15px; }

.mr20 {
  margin-right: 20px; }

.mr25 {
  margin-right: 25px; }

.mr30 {
  margin-right: 30px; }

.mr35 {
  margin-right: 35px; }

.mr40 {
  margin-right: 40px; }

.mr45 {
  margin-right: 45px; }

.mr50 {
  margin-right: 50px; }

.mr55 {
  margin-right: 55px; }

.mr60 {
  margin-right: 60px; }

.mr70 {
  margin-right: 70px; }

.mr80 {
  margin-right: 80px; }

.mr90 {
  margin-right: 90px; }

.mr100 {
  margin-right: 100px; }

.m0 {
  margin: 0; }

.ml0 {
  margin-left: 0; }

.mr0 {
  margin-right: 0; }

.mt0 {
  margin-top: 0; }

.mb0 {
  margin-bottom: 0; }

.padt10 {
  padding-top: 10px; }

.padt15 {
  padding-top: 15px; }

.padt20 {
  padding-top: 20px; }

.padt25 {
  padding-top: 25px; }

.padt30 {
  padding-top: 30px; }

.padt35 {
  padding-top: 35px; }

.padt40 {
  padding-top: 40px; }

.padt45 {
  padding-top: 45px; }

.padt50 {
  padding-top: 50px; }

.padt60 {
  padding-top: 60px; }

.padt70 {
  padding-top: 70px; }

.padt80 {
  padding-top: 80px; }

.padt90 {
  padding-top: 90px; }

.padt100 {
  padding-top: 100px; }

.padb10 {
  padding-bottom: 10px; }

.padb15 {
  padding-bottom: 15px; }

.padb20 {
  padding-bottom: 20px; }

.padb25 {
  padding-bottom: 25px; }

.padb30 {
  padding-bottom: 30px; }

.padb35 {
  padding-bottom: 35px; }

.padb40 {
  padding-bottom: 40px; }

.padb45 {
  padding-bottom: 45px; }

.padb50 {
  padding-bottom: 50px; }

.padb60 {
  padding-bottom: 60px; }

.padb70 {
  padding-bottom: 70px; }

.padb80 {
  padding-bottom: 80px; }

.padb90 {
  padding-bottom: 90px; }

.padb100 {
  padding-bottom: 100px; }

.padl10 {
  padding-left: 10px; }

.padl15 {
  padding-left: 15px; }

.padl20 {
  padding-left: 20px; }

.padl25 {
  padding-left: 25px; }

.padl30 {
  padding-left: 30px; }

.padl35 {
  padding-left: 35px; }

.padl40 {
  padding-left: 40px; }

.padl45 {
  padding-left: 45px; }

.padl50 {
  padding-left: 50px; }

.padl60 {
  padding-left: 60px; }

.padl70 {
  padding-left: 70px; }

.padl80 {
  padding-left: 80px; }

.padl90 {
  padding-left: 90px; }

.padl100 {
  padding-left: 100px; }

.padr10 {
  padding-right: 10px; }

.padr15 {
  padding-right: 15px; }

.padr20 {
  padding-right: 20px; }

.padr25 {
  padding-right: 25px; }

.padr30 {
  padding-right: 30px; }

.padr35 {
  padding-right: 35px; }

.padr40 {
  padding-right: 40px; }

.padr45 {
  padding-right: 45px; }

.padr50 {
  padding-right: 50px; }

.padr60 {
  padding-right: 60px; }

.padr70 {
  padding-right: 70px; }

.padr80 {
  padding-right: 80px; }

.padr90 {
  padding-right: 90px; }

.padr100 {
  padding-right: 100px; }

.padl0 {
  padding-left: 0; }

.padr0 {
  padding-right: 0; }

.padt0 {
  padding-top: 0; }

.padb0 {
  padding-bottom: 0; }

@media only screen and (max-width: 480px) {
  .xs-grid1 {
    grid-template-columns: repeat(1, 1fr); }
  .xs-gap1 {
    grid-gap: 0.25em; }
  .xs-start1 {
    grid-column-start: 1; }
  .xs-end1 {
    grid-column-end: 1; }
  .xs-grid2 {
    grid-template-columns: repeat(2, 1fr); }
  .xs-gap2 {
    grid-gap: 0.5em; }
  .xs-start2 {
    grid-column-start: 2; }
  .xs-end2 {
    grid-column-end: 2; }
  .xs-grid3 {
    grid-template-columns: repeat(3, 1fr); }
  .xs-gap3 {
    grid-gap: 0.75em; }
  .xs-start3 {
    grid-column-start: 3; }
  .xs-end3 {
    grid-column-end: 3; }
  .xs-grid4 {
    grid-template-columns: repeat(4, 1fr); }
  .xs-gap4 {
    grid-gap: 1em; }
  .xs-start4 {
    grid-column-start: 4; }
  .xs-end4 {
    grid-column-end: 4; }
  .xs-grid5 {
    grid-template-columns: repeat(5, 1fr); }
  .xs-gap5 {
    grid-gap: 1.25em; }
  .xs-start5 {
    grid-column-start: 5; }
  .xs-end5 {
    grid-column-end: 5; }
  .xs-grid6 {
    grid-template-columns: repeat(6, 1fr); }
  .xs-gap6 {
    grid-gap: 1.5em; }
  .xs-start6 {
    grid-column-start: 6; }
  .xs-end6 {
    grid-column-end: 6; }
  .xs-hidden {
    visibility: hidden; }
  .xs-hide {
    display: none; }
  .xs-visible {
    visibility: visible; }
  .xs-show {
    display: block; }
  .xs-flex {
    display: flex; }
  .xs-wrap {
    flex-wrap: wrap; }
  .xs-nowrap {
    flex-wrap: nowrap; }
  .xs-col-12, .xs-row {
    width: 100%; }
  .xs-col-11 {
    width: 91.66%; }
  .xs-col-10 {
    width: 83.32%; }
  .xs-col-9 {
    width: 75%; }
  .xs-col-8 {
    width: 66.66%; }
  .xs-col-7 {
    width: 58.32%; }
  .xs-col-6 {
    width: 50%; }
  .xs-col-5 {
    width: 41.66%; }
  .xs-col-4 {
    width: calc(100% / 3); }
  .xs-col-3 {
    width: 25%; }
  .xs-col-2 {
    width: 16.66%; }
  .xs-col-1 {
    width: 8.32%; } }
